
/**** GLOBAL STYLES ******/

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    /*font: 16px/24px "HelveticaNeue-Light","Helvetica Neue Light","HelveticaNeue",Helvetica,Helvetica Neue,Arial,sans-serif;*/
    font: 16px/24px "HelveticaNeue", sans-serif;
}

.layout-container {
    /*min-height: 100%;*/
    height: auto !important;
    height: 100%;
    padding: 0;
    flex: 1 0 auto;
}

.dialog-off-canvas-main-canvas {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.uccs-gold-text {
    color: #CFB87B;
}

.uccs-black-text {
    color: #000000;
}

.uccs-grey-text {
    color: #BCBCBC;
}

.uccs-grey-text-mid {
    color: #8D8D8D;
}

.uccs-white-text {
    color: #FFFFFF;
}

.uccs-red-text {
    color: #db1a30;
}


/****** FONTS ********/


@font-face {
    font-family: 'Liberator Light';
    src: url('../fonts/Liberator-Light.woff2') format('woff2'),
    url('../fonts/Liberator-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberator Heavy';
    src: url('../fonts/Liberator-Heavy.woff2') format('woff2'),
    url('../fonts/Liberator-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Liberator';
    src: url('../fonts/Liberator-Medium.woff2') format('woff2'),
    url('../fonts/Liberator-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueLTW05-55Roman.woff2') format('woff2');
}

/*@font-face {*/
    /*font-family: 'HelveticaNeue-Light';*/
    /*src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2');*/
/*}*/

@font-face {
    font-family: 'HelveticaNeue-Bold';
    src: url('../fonts/HelveticaNeueLTW05-75Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'HelveticaNeue-CondensedBold';
    src: url('../fonts/HelveticaNeueLTW05-77BoldCn.woff2') format('woff2');
}


.uccs-liberator {
    font-family: 'Liberator';
}

.uccs-liberator-heavy {
    font-family: 'Liberator Heavy';
}

.uccs-liberator-light {
    font-family: 'Liberator Light';
}

/*.uccs-helvetica-light {*/
    /*font-family: 'HelveticaNeue-Light';*/
/*}*/

.uccs-helvetica-bold {
    font-family: 'HelveticaNeue-Bold';
}

.uccs-helvetica-condensed-bold {
    font-family: 'HelveticaNeue-CondensedBold';
}

.uccs-helvetica {
    font-family: 'HelveticaNeue';
}

/*.uccs-roboto {*/
    /*font-family: 'Roboto', sans-serif;*/
/*}*/

/*.uccs-roboto-condensed {*/
    /*font-family: 'Roboto Condensed', sans-serif;*/
/*}*/

.uccs-font-size-48 {
    font-size: 48px;
}

.uccs-font-size-40 {
    font-size: 40px;
}

.uccs-font-size-32 {
    font-size: 32px;
}

/****** HEADER STYLES *******/

#uccs-header-block {

    width: 100%;
    margin: 0;
    padding: 0;
}

#uccs-header-block .row {
    margin-left: 0;
    margin-right: 0;
}


div#uccs-header-logo {
    text-align: left;
    padding: 15px 0;
}

div#uccs-header-logo .uccs-logo {
    height: 48px;
}

a#UCCSmobileMenuToggle {
    display: none;
}

/***** SEARCH BAR *********/

div#uccs-main-menu-utility-container {
    padding-bottom: 0.5em;
}

.UCCSsearchGroup {
    flex-direction: row-reverse;
}

@media screen and (min-width: 1200px) {

    .UCCSsearchGroup {
        flex-direction: row;
    }
}


#uccs-search-container .form-control:focus
{
    box-shadow: 0 0px 4px 0px rgba(0,0,0,0.15);
}

#uccs-search-container .btn:focus,
#uccs-search-container .btn.focus {
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
}

button.uccs-search-btn {
    border-radius: 50%;
    padding: 0.45rem;
    background: #F3F3F3;
    box-shadow: 0 0px 4px 0px rgba(0,0,0,0.5);
    margin: 0 3px;
}

button.uccs-search-btn.active {
    background: #CFB87B;
}

button.uccs-search-btn:hover,
button.uccs-search-btn:focus {

}

input#UCCSsearchBox {
    border: none;
    border-bottom: 1px solid #0000001f;
    margin-right: 3px;
    border-radius: 0;
    /*opacity: 0;*/
}

/***** Site Title and Slogan ******/
.uccs-site-tile-container {
    margin: 0.75em auto;
}

.uccs-site-title {
    background: #EAEAEA;
    margin-bottom: 0.25em;
    border-top: 1px solid #DADADA;
    border-bottom: 1px solid #DADADA;
}

.uccs-site-title-row div#uccs-main-menu-utility-container {
    align-self: center;
    padding-bottom: 0;
}

.uccs-site-title-header {
    font-size: 1.75rem;
    font-weight: bolder;
    margin: 0;
    padding: 0.25em 0;
}

.uccs-site-slogan {
    margin: 0;
    padding-bottom: 0.5em;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
}

/**** MAIN MENU STYLES *****/

nav#UCCSmainNav {
    padding: 0.5em 0;
}

#UCCSmainNavContainer li.nav-item.main-menu-item {
    border-right: 1px solid #CACACA;
    padding-right: 0.25em;
}

.uccs-main-menu a {
    color: #616161;
    text-transform: uppercase;
    font-size: 16px;
}

.uccs-main-menu a.is-active, .uccs-main-menu a:hover {
    color: #222222;
}

a#uccs-home-button {
    color: #8d8d8d;
}

a#uccs-home-button:hover {
    color: #565a5c;
}

.navbar-nav .hovernav:hover > .dropdown-menu {
    display: block;
}

ul.dropdown-menu ul.navbar-nav {
    display: inline-block;
}

.dropdown-menu .nav-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}

ul.dropdown-menu.uccs-other-dropdown-menu {
    right: 2rem;
    left: -2rem;
    border: none;
    background: #222;
    border-radius: 0px;
    box-shadow: 0px 4px 4px 8px rgba(220,220,220,0.3);
}

div#uccs-utility-menu-container {
    padding-top: 0.5em;
}

.uccsUtilityMenuOnly {
    align-items: flex-end;
    flex-direction: column;
}

.uccs-util-menu-row {
    min-height: 0.5em;
}

div#uccs-header-utility-menu {
    display: none;
    position: absolute;
    z-index: 10;
    max-width: 350px;
    max-width: fit-content;
    right: 0;
}

.uccs-utility-menu .nav-item:hover {
    background: #565a5c;
}

.uccs-utility-menu a.nav-link {
    color: #eee;
    padding: 0.5em 1em;
    max-width: 200px;
}

.uccs-util-navbar {
    float: right;
    margin-right: 0;
}

.util-menu-toggle-button {
    color: #757575;
    padding: 1em;
    white-space: nowrap;
}

.util-menu-toggle-button:hover {
    cursor: pointer;
}

ul.uccs-utility-menu {
    flex-direction: column;
    background: black;
    padding: 1em 0;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.35);
}

/****** SECONDARY MENU STYLES ********/

#UCCSsecondaryNav {
    line-height: 1em;
}

li.secondary-menu-item a {
    color: #222222;
    font-size: 13px;
}

li.secondary-menu-item a:hover {
    color: black;
    text-shadow: 0 0 1px #CFB87B;
}

li.secondary-menu-item a[href="https://www.uccs.edu/give"] {
    color: black;
    background: #eaeaea;
    border-radius: 8px;
    margin-right: 2px;
}

li.secondary-menu-item a:hover[href="https://www.uccs.edu/give"] {
    background: #CACACA;
}

li.secondary-menu-item a[href="https://www.uccs.edu/applynow"] {
    color: #000000;
    font-weight: normal;
    background: #CFB87B;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

li.secondary-menu-item a:hover[href="https://www.uccs.edu/applynow"] {
    color: #222;
    background: #E2CB8D;
    text-shadow: 0 0 2px rgba(10,0,0,0.2);
    text-decoration: none;
}

#UCCSsecondaryNavMobile li.secondary-menu-item a {
    color: #000000;
    background: #CCCCCC;
    border-radius: 8px;
    padding: 1px;
}

div#uccs-header-secondary-menu-mobile {
    display: none;
}

#UCCSsecondaryNavMobile li.secondary-menu-item {
    margin: 1em 0;
}

#UCCSsecondaryNavMobile li.secondary-menu-item:first-of-type {
    margin: 0;
}

#UCCSsecondaryNavMobile li.secondary-menu-item a[href="https://www.uccs.edu/give"] {
    background: #EBDDBD;
}

#UCCSsecondaryNavMobile li.secondary-menu-item a[href="https://www.uccs.edu/apply"] {
    background: #CFB87B;
}

/***** JUMBO NAVIGATIONS *******/

.nav-home-icon {
    align-self: center;
}

#uccs-main-menu-container {
    padding: 0;
    margin: 0;
}

nav#UCCSJumboNavLinks {
    padding: 0;
}

#UCCSjumboNavContainer {
    margin: 0;
    padding: 0;
    max-width: 100%;
    width: 100%;
    overflow: hidden;
}

a.jumbo-link-toggle {
    color: #757575;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}

a.jumbo-link-toggle:hover {
    color: black;
}

a.jumbo-link-toggle.active {
    color: #222222;
}

span.jumbo-link-toggle-icon {
    display: none;
}

.jumbo-navigation-container {
    display: none;
}

.jumbo-navigation-container.active {
    width: 100%;
    background: #EBEBEB;
    text-align: left;
    padding: 0.5em 0;
}

.jumbo-nav-title {
    max-width: 100%;
    overflow: hidden;
}

.uccs-jumbo-nav-container {
    min-height: 360px;
    padding: 0;
}

.uccs-jumbo-nav-menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    /*min-height: 351px;*/
}

.uccs-jumbo-nav-submenu {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    max-width: 250px;
}
.uccs-jumbo-nav-submenu .uccs-jumbo-nav-submenu {
    border-right: 1px solid #d8d8d8;
    /*noinspection CssInvalidPropertyValue*/
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-left: 0.5em;
}

.uccs-jumbo-nav-menu .uccs-jumbo-nav-submenu:last-of-type .uccs-jumbo-nav-submenu {
    border: none;
}

.jumbo-navigation-container>ul.uccs-jumbo-nav-menu {flex-direction: row;list-style: none;padding: 0;margin: 0;}

span.uccs-jumbo-fa-layer {
    margin-right: 1em;
    float: right;
}

span.uccs-jumbo-hero-link {
    max-width: 70%;
    float: left;
}

a.jumbo-link {
    color: #000000;
    padding: 0.25em;
    margin: 0.25em 0;
    text-decoration: none;
}

a.jumbo-link.bold {
    font-weight: bold;
}
jumbo-nav-link-fa {
    background: #CFB87B;
}
a.jumbo-link.bold span.fa-layers {
    float: right;
    margin-right: 1em;
    margin-top: 0.25em;
}

a.jumbo-link:hover {
    background: white;
}

/***** JUMBO NAV CTA BUTTONS *******/

.uccs-jumbo-nav-cta-block {
    float: right;
    height: auto;
    display: none;
    max-width: 280px;
    text-align: center;
    z-index: 10;
}

@media screen and (min-width: 1200px) {

    .uccs-jumbo-nav-cta-block {
        margin-top: -365px;
    }
}

.uccs-jumbo-nav-cta-button {
    width: 280px;
    height: 175px;
    display: inline-block;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    border-radius: 4px 0 0 4px;
    margin-top: 2px;
}

a:hover .uccs-jumbo-nav-cta-button {
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.uccs-jumbo-nav-cta-button img {
    display: none;
}


.uccs-main-menu-cta-link {
    background: #CFB87B;
    padding: 0.2em 2em;
    text-transform: uppercase;
    color: black;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 1em;
    display: inherit;
}

.uccs-main-menu-cta-icon {
    margin-top: 40px;
}

/******* Sidebar Menu ********/
.uccs-sidebar-flyout {
    position: absolute;
    min-height: 100vh;
    background: rgba(255,255,255,0.95);
    width: 30vw;
    padding: 1em;
    z-index: 100;
    display: none;
}

.uccs-sidebar-toggle {
    position: absolute;
    background: rgba(255,255,255,0.95);
    color: #333333;
    padding: 0.75em;
    z-index: 100;
}

.uccs-sidebar-flyout.uccs-left-col {
    left: 0;
    box-shadow: 2px 2px 2px 2px rgba(20,20,20,0.2);
}

.uccs-sidebar-flyout.uccs-left-col>.uccs-main-menu,
.uccs-sidebar-flyout.uccs-left-col>.uccs-sidebar-menu {
    margin-left: 3em;
    margin-right: auto!important;
}

.uccs-sidebar-toggle.uccs-sidebar-toggle-left {
    border-radius: 0 4px 4px 0;
}

.uccs-sidebar-toggle.uccs-sidebar-toggle-right {
    border-radius: 4px 0 0 4px;
    right: 0;
}

.uccs-sidebar-flyout.uccs-right-col {
    right: 0;
    box-shadow: -2px 2px 2px 2px rgba(20,20,20,0.2);
}

.uccs-sidebar-flyout.uccs-right-col>.uccs-main-menu,
.uccs-sidebar-flyout.uccs-right-col>.uccs-sidebar-menu {
    margin-right: 3em;
}

.uccs-sidebar {
    padding: 1em 2em;
}

.uccs-sidebar.uccs-sidebar-dark {
    background: black;
}

.uccs-sidebar-dark .uccs-main-menu a {
    color: #FAFAFA;
}

.uccs-sidebar-dark .uccs-main-menu a#uccs-home-button {
    color: #F0F0F0;
}

.uccs-sidebar-dark .uccs-main-menu a:hover {
    color: #9b9b9b;
}

.uccs-sidebar-dark .uccs-main-menu a#uccs-home-button:hover {
    color: #9b9b9b;
}

.uccs-sidebar>.uccs-sidebar-menu {
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    margin-bottom: 2em;
}
.uccs-sidebar-menu {
    background: #f3f3f3;
    padding: 0.5em 0.5em 1em;
    border-radius: 2px;
}

.uccs-sidebar-menu a.nav-link:hover,
.uccs-sidebar-menu a.nav-link.is-active {
    color: #222222;
    background: white;
}

.uccs-sidebar-menu a.nav-link {
    color: #5a5a5a;
}

li.sidebar-menu-dropdown > a.nav-link {
    width: 80%;
    float: left;
}

li.sidebar-menu-dropdown a.uccs-dropdown-toggle {
    color: #5a5a5a;
    padding: 0 1em;
}

div.uccs-sidebar-dropdown-menu ul.uccs-sidebar-menu.nav.flex-column {
    display: none;
}

div.uccs-sidebar-dropdown-menu.active ul.uccs-sidebar-menu.nav.flex-column {
    display: block;
}

/******* Breadcrumbs ********/
.uccs-breadcrumb {
    margin: 0 0 1em 0;
    background: transparent;
    border-radius: 0;
    float: left;
    padding: 0 0 0.25em 1.75em;
    font-weight: bolder;
    list-style: none;
    width: fit-content;
}

.uccs-breadcrumb nav {
    margin: 0 auto;
    padding: 5px;
    font-size: 15px;
}

.uccs-breadcrumb ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.uccs-breadcrumb li {
    padding: 5px;
    float: left;
}

.uccs-breadcrumb a {
    color: #565a5c;
}

.uccs-breadcrumb li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/**** Local Tasks *****/

.uccs-local-tasks {
    position: fixed;
    z-index: 100;
    left: 0;
}

ul.uccs-local-tasks-ul {
    list-style: none;
}

ul.uccs-local-tasks-ul li {
    background: transparent;
    text-align: center;
    /*padding-right: 1em;*/
    padding-top: 0.5em;
    border-radius: 8px 8px 0 0;
    border: 1px solid #0077C0;
    border-bottom: none;
}

ul.uccs-local-tasks-ul li a {
    color: #0077C0;
}

ul.uccs-local-tasks-ul ul {
    list-style: none;
    background: transparent;
    width: fit-content;
    padding: 0 1em 1em 1em;
    z-index: 100;
    border-radius: 0 0 8px 8px;
    margin-top: -0.5em;
    border: 1px solid #0077C0;
    border-top: none;
}

ul.uccs-local-tasks-ul:hover ul,
ul.uccs-local-tasks-ul:hover li {
    background: #d8d8d8;
}

ul.uccs-local-tasks-ul ul li a {
    color: #0077C0;
}

ul.uccs-local-tasks-ul ul li {
    margin: 0.5em;
    border: none;
}

/**** BUTTONS ********/

.uccs-button-primary1  {
    background: #CFB87B;
    padding: 0.5em 2em;
    font-size: 18px;
    border-radius: 4px;
    color: black;
    text-transform: uppercase;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.5);
}

/* --- Thin Buttons --- */
.uccsBlueButtonThin {
    padding-bottom: 5px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    border: solid transparent;
}

a.uccsBlueButtonThin {
    background-color: #007bc8;
    border: 1px solid #007bc8;
    color: white;
    font-size: 21px;
    display: block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

a.uccsBlueButtonThin:hover {
    color: white;
    background-color: hsl(203, 100%, 33%);
    text-decoration: none;
}

.uccsGoldButtonThin {
    padding-bottom: 5px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    border: solid transparent;
}

a.uccsGoldButtonThin {
    background-color: #cfb87c;
    border: solid 1px #cfb87c;
    color: #000;
    font-size: 21px;
    display: block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

a.uccsGoldButtonThin:hover {
    background-color: #dbca9e;
    color: #000;
    text-decoration: none;
}

.uccsDarkButtonThin {
    padding-bottom: 5px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    border: solid transparent;
}

a.uccsDarkButtonThin {
    background-color: #262626;
    border: solid 1px #262626;
    color: #fff;
    font-size: 21px;
    display: block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

a.uccsDarkButtonThin:hover {
    background-color: #333;
    color: #fff;
    text-decoration: none;
}

.uccsLightButtonThin {
    padding-bottom: 5px;
    margin-top: 20px;
    padding-left: 0;
    padding-right: 0;
    border: solid transparent;
}

a.uccsLightButtonThin {
    background-color: #b5b5b5;
    border: solid 1px #919191;
    color: #000;
    font-size: 21px;
    display: block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

a.uccsLightButtonThin:hover {
    background-color: #919191;
    color: #000;
    text-decoration: none;
}

/* --- CTA Buttons --- */
.CTABlueButton {
    min-width: 10em;
    width: 85%;
    height: 2em;
    font-size: 1.5em;
    padding: 0.25em 1em;
    white-space: nowrap;
    border-radius: 4px;
    display: block;
    margin: 20px auto 0 auto;
    background: #007bc8;
    border: 1px solid #007bc8;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}

.CTABlueButton:hover {
    color: #fff;
    text-decoration: none;
    background-color: #0068a8;
}

.CTAGoldButton {
    min-width: 10em;
    width: 85%;
    height: 2em;
    font-size: 1.5em;
    padding: 0.25em 1em;
    white-space: nowrap;
    border-radius: 4px;
    display: block;
    margin: 20px auto 0 auto;
    background: #cfb87b;
    border: solid 1px #cfb87c;
    line-height: 1.5em;
    text-align: center;
    color: black;
}

.CTAGoldButton:hover {
    color: black;
    text-decoration: none;
    background: #dbca9e;
}

.CTALightButton {
    min-width: 10em;
    width: 85%;
    height: 2em;
    font-size: 1.5em;
    padding: 0.25em 1em;
    white-space: nowrap;
    border-radius: 4px;
    display: block;
    margin: 20px auto 0 auto;
    background-color: #b5b5b5;
    border: solid 1px #919191;
    line-height: 1.5em;
    text-align: center;
    color: black;
}

.CTALightButton:hover {
    color: black;
    text-decoration: none;
    background: #919191;
}

.CTADarkButton {
    min-width: 10em;
    width: 85%;
    height: 2em;
    font-size: 1.5em;
    padding: 0.25em 1em;
    white-space: nowrap;
    border-radius: 4px;
    display: block;
    margin: 20px auto 0 auto;
    background-color: #262626;
    border: solid 1px #262626;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
}

.CTADarkButton:hover {
    color: #fff;
    text-decoration: none;
    background-color: #333;
}

/**** FOOTER STYLES *****/

div.scrollTop {
    display: none;
    color: #222222;
    background: rgba(207, 184, 123, 0.5);
    position: fixed;
    right: 10%;
    padding: 0.25em 1em;
    border-radius: 4px;
    z-index: 20;
    bottom: 20%;
}
div.scrollTop:hover {
    background: #CFB87B;
}

footer {
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000;
    display: inline-block;
    height: auto;
}

.uccs-footer-main-content {
    display: flex;
    flex-direction: column;
}

.uccs-footer-content-container {
    flex-direction: row;
}

.uccs-footer-global-nav-section {
    padding: 0;
}

#UCCSfooterGlobNavOne {
    float: right;
}

#UCCSfooterGlobNavTwo {
    float: left;
}


.uccs-footer-content-block {
    background: #333333;
    /*noinspection CssInvalidPropertyValue*/
    max-width: -moz-fit-content;
    max-width: fit-content;
    border-radius: 0 0 4px 4px;
    padding: 1em;
    margin: 0;
    font-size: 16px;
    color: white;
    font-weight: 200;
}

.uccs-footer-content-block a {
    color: #EBDDBD;
}

hr.uccs-footer-hr {
    background-color: #a2a4a3;
    margin-bottom: 0;
}

.uccs-footer-global-nav.navbar-nav {
    flex-direction: row;
    margin: auto;
}

.uccs-footer-global-nav a.nav-link {
    color: #e4e4e4;
    padding: 0 5px;
    font-size: 12px;
    white-space: nowrap;
}

.uccs-footer-global-nav a.nav-link:hover {
    color: #9b9b9b;
}

.uccs-footer-logo-container {
    color: #d0d0d0;
    background-color: #000000;
}

.uccs-footer-logo-main img {
    margin-left: 15px;
}

.uccs-footer-logo-system img {
    margin-right: 15px;
    float: right;
}

.uccs-copyright-msg {
    color: #d0d0d0;
    font-size: 12px;
}

.uccs-social-media-nav-container {
    margin-top: 1em;
    margin-bottom: -2em;
    /***** To Do : get rid of the negative margins!!!! ******/
}

.uccs-social-media-nav {
    display: flex;
    align-items: flex-end;
}

ul.menu.social-media.navbar-nav.navbar-social {
    flex-direction: row;
    flex-wrap: wrap;
}

li.social-media-item.menu-item {
    height: 4em;
}

a.uccs-social-link {
    color: #CFB87B;
    text-decoration: none;
    padding: 1.5em 0.75em 0.75em 0.75em;
    border-radius: 3px;
    background-color: #000000;
    margin: 2px;
    text-align: center;
    width: 1.5em;
    border: 1px solid #000000;
}

a.uccs-social-link:hover {
    color: white;
    background-color: #CFB87B;
    border: 1px solid;
}

a.uccs-twitter-link:hover {
    background: #55acee;
    color: #FFF;
    border-color: #FFF;
}

a.uccs-facebook-link:hover {
    background: #3b5998;
    color: #FFF;
    border-color: #FFF;
}

a.uccs-linkedin-link:hover  {
    background: #0977b5;
    color: #FFF;
    border-color: #FFF;
}

a.uccs-youtube-link:hover {
    background: #FFF;
    color: #b31217;
    border-color: #b31217;
}

a.uccs-flickr-link:hover {
    background: #FFF;
    color: #ff0084;
    border-color: #ff0084;
}

a.uccs-instagram-link:hover {
    background: /*/////// Use radial gradients to get the rounded*/ /*/////// gradient effect in each corner*/ /*// left bottom*/ radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        /*// left top*/ radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        /*//  right top*/ radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        /*// right bottom*/ radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        /*/////// create a base coat to smooth*/ /*/////// corner gradients*/ linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    color: #FFF;
    border-color: #FFF;
}

div.uccs-footer-additional-cta {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

div.uccs-footer-cta-button {
    background-color: #333333;
    border-radius: 4px;
    margin: 0.5em 0;
    min-height: 3em;
    min-width: 210px;
    display: block;
    text-align: right;
    padding-left: 2em;
    white-space: nowrap;
}

a:hover .uccs-footer-cta-button {
    background-color: #ceb77b;
}

a.uccs-footer-cta-button-link {
    color: #CFB87B;
    font-size: 18px;
}

a.uccs-footer-cta-button-link:hover {
    text-decoration: none;
    color: #222222;
}

span.uccs-footer-cta-label {
    margin-top: 1em;
    display: inline-block;
    margin-right: 0.5em;
}

span.uccs-footer-cta-icon {
    display: inline-block;
    margin-right: 1em;
}

.uccs-footer-cta-icon span.fa-stack {
    height: 1em;
}

.uccs-footer-menu a.nav-link {
    color: #FAFAFA;
    text-transform: uppercase;
    font-size: 16px;
}

.uccs-footer-menu a.nav-link:hover {
    color: #9B9B9B;
}

/***** Alerts *******/
.uccs-alert {

}