/****** HEADER ********/

@media screen and (max-width: 1199.98px) {

    #UCCSsecondaryNavContainer li.nav-item.secondary-menu-item {
        text-align: center;
    }

    ul.uccs-main-menu-link {
        margin-left: 1em;
    }

    div#uccs-header-row-bottom {
        flex-direction: column-reverse;
    }

    .jumbo-navigation-container {
        margin: 4px 0 0 0;
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }

    .uccs-jumbo-nav-submenu {
        max-width: 90%;
    }

    a.jumbo-link.bold {
        max-width: 90%;
    }

    .uccs-jumbo-nav-container {
        min-height: auto;
        margin-bottom: 1.5em;
    }

    .uccs-jumbo-nav-cta-block {
        display: none;
        float: none;
        width: 100%;
        max-width: 100%;
        background-color: #EBEBEB;
        margin-bottom: 2px;
    }

    .uccs-jumbo-nav-cta-button {
        width: 280px;
        border-radius: 4px;
    }

    .uccs-main-menu-cta-link {
        max-width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .uccs-util-navbar {
        margin-right: 6em;
    }

    div#uccs-header-row-bottom {
        display: block;
    }
}

@media screen and (max-width: 991.98px) {

    .uccs-site-title {
        margin-bottom: 0;
    }

    .uccs-site-title-row div#uccs-main-menu-utility-container {
        padding-bottom: 0.25em;
    }

    .uccs-sidebar-flyout {
        width: 45vw;
    }
}

@media screen and (max-width: 768px) {

    .uccs-jumbo-nav-menu {
        flex-direction: column;
    }

    .uccs-jumbo-nav-submenu .uccs-jumbo-nav-submenu {
        border-right: none;
        border-bottom: 1px solid #d8d8d8;
    }

    .uccs-util-navbar {
        margin-right: 0;
    }

    a.jumbo-link.bold {
        max-width: 100%;
    }

    #UCCSmainNavContainer li.nav-item.main-menu-item {
        border-right: none;
    }

    .uccs-sidebar-flyout {
        width: 66vw;
    }

}

@media screen and (max-width: 576.98px) {

    div#uccs-header-logo .uccs-logo {
        float: left;
        max-width: calc(100% - 45px);
    }

    #uccs-header-block .row {
        margin-top: 2px;
    }

    #UCCSsecondaryNav {
        display: none;
    }

    a#UCCSmobileMenuToggle {
        display: block;
        color: #7a7a7a;
        float: right;
        text-decoration: none;
    }

    .uccs-header-lower-container {
        display: none;
        margin: 0;
        padding: 0;
    }

    #uccs-main-menu-container {
        background: #EBEBEB;
    }

    #uccs-main-menu-container.white {
        background: white;
    }

    li.nav-home-icon #uccs-home-button {
        font-size: 1.5em;
        color: #565a5c;
        display: block;
        margin: 0.4em;
    }

    ul.uccs-main-menu-link {
        width: 100%;
        margin: 0;
        overflow: hidden;
        margin-top: 4px;
        border-top: 1px solid #d8d8d8;
    }

    .uccs-jumbo-nav-submenu {
        max-width: 100%;
    }

    a.jumbo-link-toggle {
        color: rgba(0,0,0,0.8);
    }

    .jumbo-nav-title {
        width: calc(100vw - 15px);
    }

    span.uccs-jumbo-hero-link {
        margin-left: 0.5em;
    }

    li.main-jumbo-menu-item {
        box-shadow: 0 0 2px 0px rgba(0,0,0,0.5);
        margin: 0 0 0.5em 0;
        padding: 0.5em 0;
        background-color: white;
    }

    a.nav-link.jumbo-link-toggle {
        padding-left: 1em;
        padding-right: 1em;
    }

    span.jumbo-link-toggle-icon {
        display: inline-block;
        float: right;
    }

    .uccs-jumbo-nav-cta-button {
        width: 49%;
    }

    ul.uccs-second-menu {
        columns: 2;
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    div#uccs-header-secondary-menu-mobile {
        display: block;
    }

    div#uccs-main-menu-utility-container {
        padding: 0 0 0.25em 0;
    }

    div#uccs-header-utility-menu {
        padding: 0;
        position: relative;
        max-width: 100%;
    }

    .uccs-util-navbar {
        width: 100%;
        margin: 0;
        padding: 0;
    }


    ul.uccs-utility-menu {
        width: 100%;
        margin-top: 0.75em;
        box-shadow: none;
    }

    .uccs-utility-menu a.nav-link {
        max-width: 100%;
        width: 100%;
    }

    #UCCSmainNavContainer {
        margin-left: 2em;
    }

    .uccs-sidebar-flyout {
        width: 95vw;
    }

}



    /***** Main Content *******/


/****** FOOTER ********/

@media screen and (max-width: 991.98px) {

    #UCCSfooterGlobNavOne {
        float: none;
    }

    #UCCSfooterGlobNavTwo {
        float: none;
    }

    .uccs-footer-global-nav.navbar-nav {
        justify-content: center;
    }


}

@media screen and (max-width: 768px) {

    .uccs-footer-content-row {
        flex-direction: column-reverse;
    }

    .uccs-footer-content-block {
        border-radius: 4px;
        padding: 1.25em 2em;
        margin-top: 0.5em;
    }

    .uccs-footer-cta-block {
        position: absolute;
        right: 0;
    }

    .uccs-footer-cta-block:nth-child(1) {
        top: 0;
    }

    .uccs-footer-cta-block:nth-child(2) {
        top: 4em;
    }

    .uccs-footer-cta-block:nth-child(3) {
        top: 8em;
    }

    .uccs-footer-cta-block:nth-child(4) {
        top: 12em;
    }


    div.uccs-footer-additional-cta {
        align-items: flex-start;
    }

    ul.uccs-footer-global-nav {
        display: block;
        columns: 2;
    }

    .uccs-footer-logo-main,
    .uccs-footer-logo-system {
        text-align: center;
    }

    .uccs-footer-logo-system img,
    .uccs-footer-logo-main img {
        margin: 5px 0;
        float: none;
    }
}

@media screen and (max-width: 576.98px) {

    .uccs-footer-cta-block {
        position: relative;
        right: auto;

    }

    .uccs-footer-cta-block:nth-child(1) {
        top: auto;
    }

    .uccs-footer-cta-block:nth-child(2) {
        top: auto;
    }

    .uccs-footer-cta-block:nth-child(3) {
        top: auto;
    }

    .uccs-footer-cta-block:nth-child(4) {
        top: auto;
    }



}