/********* Main Details *********/

.uccs-event-dates {
    font-size: 20px;
    font-weight: bolder;
    margin: 0.5em 1em;
}

.uccs-event-location {
    margin: 1em;
}

.ucss-event-date-card {
    margin: 1em;
    padding: 1em;
    background: #FAFAFA;
    border-radius: 2px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.15);
}

.uccs-event-date-card-icon {
    text-align: center;
    margin-top: -2em;
    font-size: 20px;
}

.uccs-event-time svg {
    margin-right: 0.5em;
}

.uccs-event-details {
    margin-top: 1em;
}

.uccs-event-image img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

/****** Contact Info Card **********/

.uccs-event-contact-img img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0 0 0 6px white;
    margin-bottom: 0.25em;
}

.uccs-event-contact-card {
    margin: 1em;
    padding: 1em 2em;
    background: #f3f3f3;
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.15);
}

.uccs-event-contact-img {
    margin-top: -32px;
    width: 100%;
    text-align: center;
}

.uccs-event-contact-card a {
    color: #565a5c;
}

.uccs-event-contact-card a:hover {
    color: #222222;
}

.uccs-event-contact-phone {
    display: flex;
}

.uccs-event-contact-email {
    display: flex;
}

.uccs-event-contact-email svg {
    margin-right: 0.5em;
    margin-top: 0.25em;
}

.uccs-event-contact-phone svg {
    margin-top: 0.25em;
    margin-right: 0.5em;
}

/********* Events (View) *************/

.uccs-event-dates a {
    color: #565a5c;
}

.uccs-event-dates a:hover {
    color: #222222;
}

.uccs-event-title {
    margin-bottom: 0.5em;
}

.uccs-event-detail-copy {
    font-size: 16px;
    margin-top: 1em;
}

.uccs-event-collection-container {
    border: 1px solid #717171;
    margin-bottom: 1em;
    padding: 0.5em;
}

.uccs-event-image {
    align-self: center;
    text-align: center;
}