.layout-container {
    overflow-x: hidden;
}

/*h1.js-quickedit-page-title {*/
    /*display: none;*/
/*}*/

.uccs-page-title .uccs-person-page-title {
    display: none;
}

.uccs-person-container a {
    color: #616161;
    font-weight: bolder;
}

.uccs-person-mug-shot img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.uccs-person-name h1 {
    font-weight: bolder;
    font-size: 30px;
    padding: 0.5em 0;
}

.uccs-person-title {
    font-size: 24px;
    padding: 0.25em 0;
}

.uccs-person-department {
    font-size: 24px;
    padding: 0.25em 0 1em 0;
}

ul.uccs-person-phone-numbers {
    list-style: none;
    padding-left: 0.25em;
}

ul.uccs-person-email-address {
    list-style: none;
    padding-left: 0.25em;
}

.uccs-person-phone-numbers .svg-inline--fa {
    margin-right: 0.5em;
}

.uccs-person-email-address .svg-inline--fa {
    margin-right: 0.75em;
}

ul.uccs-person-social-media {
    list-style: none;
    margin-top: 1em;
    padding-left: 0.5em;
}

li.social-media-item.person-menu-item {
    display: inline-block;
    padding: 0.5em;
}

ul.uccs-person-social-media {
    list-style: none;
    margin-top: 1em;
    padding-left: 0.25em;
}

li.social-media-item.person-menu-item {
    display: inline-block;
    padding: 0.5em 0;
}

.uccs-person-website {
    margin-top: 0.5em;
}

.uccs-person-abstract {
    line-height: 1.5;
    font-family: liberator;
    color: #CFB87b;
    font-style: oblique;
    text-align: right;
}

.uccs-person-social-link .svg-inline--fa {
    border-radius: 6px;
    background-color: white;
    color: #CFB87B;
    text-align: center;
    border: 1px solid transparent;
    width: 1.5em;
    height: 1.5em;
    padding: 0.25em;
}
.uccs-person-social-link:hover svg {
    color: white;
    background-color: #CFB87B;
    border: 1px solid;
}
.uccs-person-twitter-link:hover svg {
    background: #55acee;
    color: #FFF;
    border-color: #FFF;
}
.uccs-person-facebook-link:hover svg {
    background:#3b5998;
    color:#FFF;
    border-color: #FFF;
}
.uccs-person-linkedin-link:hover svg {
    background:#0977b5;
    color:#FFF;
    border-color: #FFF;
}
.uccs-person-youtube-link:hover svg {
    background:#FFF;
    color:#b31217;
    border-color: #b31217;
}
.uccs-person-flickr-link:hover svg {
    background:#FFF;
    color:#ff0084;
    border-color: #ff0084;
}
.uccs-person-instagram-link:hover svg {
    background:
        /*/////// Use radial gradients to get the rounded*/
        /*/////// gradient effect in each corner*/

        /*// left bottom*/
            radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
            radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
                /*// left top*/
            radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
            radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
                /*//  right top*/
            radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
            radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
                /*// right bottom*/
            radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),

                /*/////// create a base coat to smooth*/
                /*/////// corner gradients*/
            linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

    color: #FFF;
    border-color: #FFF;
}


.uccs-sp-success-circle {
    width: 350px;
    height: 350px;
    background-color: #f3f3f3;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    top: -100px;
    z-index: -10;
}

.uccs-bio-row-style-row {
    flex-direction: column;
}

.uccs-bio-row-style-card {
    flex-direction: row;
}

.uccs-person-row {
    margin-bottom: 2em;
}

.uccs-bio-row-style-card .uccs-bio-card-content {
    padding: 1em;
    background: #EFEFEF;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    margin-bottom: 1em;
}

.uccs-bio-row-style-row .uccs-bio-card-col {
    max-width: 100%;
    margin-bottom: 1em;
}

.uccs-bio-row-style-row .uccs-bio-card-col {
    max-width: 100%;
    margin-bottom: 1em;
    background: #EFEFEF;
    padding: 1em;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
}

@media screen and (max-width: 991.98px) {
    .uccs-person-abstract {
        text-align: center;
    }
}

/******** Overload Styles for the Staff Directory Page *******/

.uccs-person-page-teaser {
    margin-bottom: 2em;
}

h1.uccs-staff-page-title {
    font-weight: bolder;
}

.uccs-person-container {
    height: 100%;
}

.uccs-person-card-header {
    border-radius: 4px 4px 0 0;
    display: table;
}

.uccs-person-teaser {
    background: white;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    padding: 0 0 1em 0;
    margin: 0 0.5em 1em 0;
}

.uccs-person-teaser .uccs-person-mug-shot img {padding: 0;border-radius: 0;}

.uccs-person-teaser .uccs-person-mug-shot {
    padding: 0;
    margin: 0;
}

.uccs-person-teaser .uccs-person-name {
    width: 100%;
    border-radius: 4px 4px 0 0;
}

.uccs-person-name a {
}

.uccs-person-teaser .uccs-person-name h1 {
    padding: 0.25em 0.5em;
    font-size: 24px;
}

.uccs-person-teaser .uccs-person-title {
    color: #616161;
    width: 100%;
    font-size: 20px;
    padding: 0 0.25em 0.5em 0.5em;
}

.uccs-person-teaser ul {
    margin-bottom: 0.25em;
}

.uccs-person-office-hours {
    display: flex;
}

.uccs-person-office-icon {
    padding: 0;
    margin-left: 0.25em;
}

.uccs-person-office-details {
    margin: 0;
    padding: 0;
}

.uccs-staff-gold-accent {
    position: absolute;
    right: 0;
    margin-top: 100px;
    width: 90%;
    height: 200px;
    background: #CFB87B;
}

.uccs-person-teaser .uccs-person-contact {
    font-size: 14px;
    border-top: 1px solid #DADADA;
    padding-top: 0.25em;
}

/****** Overload styles for the Dept Page ********/
.uccs-staff-page {
    clear: both;
    position: inherit;
}

.uccs-department-page .uccs-staff-page-container {
    padding-left: 0;
    padding-right: 0;
}
.uccs-dept-page-title {
    display: none;
}

.uccs-department-page .uccs-dept-page-title {
    display: block;
}

.uccs-dept-page-title a {
    color: #222222;
}

.uccs-dept-selector-container {
    float: right;
    border: 1px solid #565a5c;
    padding: 1em;
    border-radius: 4px;
    background: #EAE0C7;
}

