/********* Styles for the Digital Measures faculty API Pull **************/
.dm-profile-content ol.dm-profile-activities {
    /* background: #f2f3f3; */
    background:rgba(255, 255, 255, 0);
}

.dm-profile-preamble.dm-profile-preamble--with-main-image {
    background: #f2f3f3;
}

li.dm-profile-activity {
    color: black;
}

hr.dm-profile-break {
    background-color: #ceb680;
    border: none;
}

li.dm-profile-tabs__item.dm-profile-tabs__item--active {
    padding: 3px;
    white-space: nowrap;
    /* top | right | bottom | left */
    margin: 0px 10px 10px 10px;
    background: #cfb87b;
    border: solid 1px #cfb87c;
    line-height: 1.5em;
    text-align: center;
    color: black;
}
li.dm-profile-tabs__item.dm-profile-tabs__item--active:hover {
    color: black;
    text-decoration: none;
    background: #dbca9e;
}

li.dm-profile-tabs__item {
    padding: 3px;
    white-space: nowrap;
    /* top | right | bottom | left */
    margin: 0px 10px 10px 10px;
    background-color: #b5b5b5;
    border: solid 1px #919191;
    line-height: 1.5em;
    text-align: center;
    color: black;
}

li.dm-profile-tabs__item:hover {
    color: black;
    text-decoration: none;
    background: #919191;
}

ul.dm-profile-tabs {
    margin-top: 1rem;
}

a.dm-profile-tabs__link {
    outline: none;
}

section.dm-profile-section.dm-profile-section--tabbed {
    outline: none;
}

.dm-profile-sections {
    outline: none;
}