
.uccs-single-page-title-container,
h1.js-quickedit-page-title {
    display: none;
}

/*div#block-uccsbase-k18-breadcrumbs {*/
/*    display: none;*/
/*}*/


/****** Page Header Row *********/

.uccs-sp-page-header {
    position: relative;
}

.uccs-sp-header-banner {
    background: black;
    color: white;
}

.uccs-sp-header-h2 {
    font-size: 36px;
    font-weight: bolder;
    padding: 1em;
}

.uccs-sp-header-img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50px;
    right: 0;
    background-size: cover;
    background-position: center;
}

.uccs-sp-header-body-right {
    margin-top: 300px;
    z-index: 10;
}

.uccs-sp-header-body-title {
    font-size: 30px;
    line-height: 1.25;
    text-align: left;
    padding: 1em 3em 1em 0;
    font-weight: bolder;
}

.uccs-sp-header-body-title.uccs-gold-text {
    color: #565a5c;
    text-shadow: 1px 1px 6px #CFB87B;
}

.uccs-sp-header-hero-block-text {
    font-size: 150px;
    line-height: 0.8;
    color: #CFB87B;
    z-index: -1;
    opacity: 0.8;
    position: absolute;
    top: 0.5em;
}

.uccs-sp-header-color-block-left {
    height: 500px;
    position: absolute;
    left: 0;
    width: 15%;
    top: auto;
    opacity: 0.6;
    z-index: -5;
}

.uccs-sp-color-block-gold {
    background: #CFB87B;
}

.uccs-sp-color-block-grey {
    background: #444444;
}

.uccs-sp-color-block-black {
    background: #000000;
}


.uccs-sp-header-color-block-right {
    height: 500px;
    position: absolute;
    width: 15%;
    right: 0;
    opacity: 0.6;
    top: 20%;
}

.uccs-sp-header-cta-button a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
    background: #CFB87B;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    padding: 1em 2em;
    display: block;
    width: fit-content;
}

.uccs-sp-header-cta-button a:hover {
    color: #222;
    background: #E2CB8D;
    text-shadow: 0 0 2px rgba(10,0,0,0.2);
    text-decoration: none;
}

.uccs-sp-header-main-cta-button {
    text-align: center;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-bottom: 2em;
}

.uccs-sp-header-body-additional-buttons {
    margin: 1em;
}

.uccs-sp-header-cta-additional-buttons {
    display: inline-block;
    margin: 1em auto;
}

.uccs-sp-header-body-icons-right {
    position: absolute;
    left: -5em;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;

}

.uccs-sp-header-body-icons-left {
    position: absolute;
    right: -5em;
    display: flex;
    flex-direction:  column;
    height: auto;
    justify-content: center;
    text-align: center;
}

.uccs-sp-header-icon {
    margin: 1em 0;
}

.uccs-sp-header-content-left-spacer {
    padding-top: 0.5em;
}

.uccs-sp-header-content-left-spacer.uccs-hero-block {
    padding-top: 300px;
}

.uccs-sp-header-bottom-content {
    padding: 2em 0 2em 1em;
    max-width: 60%;
}

.uccs-sp-header-cta-button-mobile {
    display: none;
}

@media screen and (max-width: 991.98px) {
    .uccs-sp-header-img {
        width: 350px;
        height: 350px;
        top: -25px;
        right: 0;
    }

    .uccs-sp-header-color-block-left,
    .uccs-sp-header-color-block-right {
        top: 15%;
    }
}


@media screen and (max-width: 768px) {

    .uccs-sp-header-cta-button-mobile {
        display: block;
    }

    .uccsp-sp-header-cta-button-mobile-spacer {
        margin-top: 4em;
    }

    .uccs-sp-header-img {
        width: 250px;
        height: 250px;
        top: -50px;
        right: 25px;
    }

    .uccs-sp-header-color-block-left,
    .uccs-sp-header-color-block-right {
        height: 350px;
        top: 12%;
    }

    .uccs-sp-header-main-cta-button {
        display: none;
    }

    .uccs-sp-header-cta-button-mobile .uccs-sp-header-main-cta-button {
        display: block;
    }

    .col-md.uccs-sp-header-title-container {
        padding-bottom: 25px;
    }

    .uccs-sp-header-body-content {
        margin-top: 180px;
    }

    .uccs-sp-header-hero-block-text {
        font-size: 100px;
        position: relative;
        z-index: 1;
        color: #D8d8d8;
        display: none;
    }

    .uccs-sp-header-content-left-spacer {
        padding-top: 0;
    }

    .uccs-sp-header-content-left-spacer.uccs-hero-block {
        padding-top: 0;
    }

    .uccs-sp-header-body-right {
        margin-top: 0;
        height: fit-content;
    }

    .uccs-sp-header-body-title {
        text-align: left;
    }

    .uccs-sp-header-body-icons-right {
        float: left;
        position: relative;
        left: auto;
        margin-right: 1.5em;
        justify-content: flex-start;
        margin-top: 1em;
    }

    .uccs-sp-header-body-icons-left {
        float: right;
        position: relative;
        right: auto;
        margin-left: 1.5em;
        justify-content: flex-start;
        margin-top: 1em;
    }

    .uccs-sp-header-body-copy {
        padding-right: 2em;
    }

    .uccs-sp-header-bottom-content {
        max-width: 90%;
    }
}


/****** Hero Image Section *******/

.uccs-sp-hero-image-container {
    position: relative;
}

.uccs-sp-hero-img {
    height: 45vh;
    min-height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.uccs-sp-color-block {
    position: absolute;
    width: 40%;
    height: 80%;
    display: block;
    background: rgba(207, 184, 123, 0.7);
    top: 20%;
    left: 10%;
}

.uccs-sp-hero-text-container {
    font-size: 90px;
    line-height: 70px;
    text-transform: uppercase;
    color: white;
    font-weight: normal;
    margin-top: -.33em;
    padding-left: 0.5em;
}

.uccs-sp-sidekick-text-container {
    font-size: 18px;
    font-weight: bolder;
    color: white;
    padding-left: 2.5em;
    margin-top: 0.25em;
}

.uccs-sp-hero-cta-button {
    position: absolute;
    top: 35vh;
    left: 50%;
    width: fit-content;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.uccs-sp-hero-cta-button a {
    background: #CFB87B;
    padding: 0.5em 2em;
    font-size: 18px;
    border-radius: 4px;
    color: black;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}

.uccs-sp-hero-cta-button a:hover {
    color: #222;
    background: #E2CB8D;
    text-shadow: 0 0 2px rgba(10,0,0,0.2);
    text-decoration: none;
}

.uccs-sp-ko-img-container {
    height: 320px;
    /*min-height: 250px;*/
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

canvas#ko-text-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 320px;
    letter-spacing: -0.55em;
    /*min-height: 250px;*/
}

@media screen and (max-width: 1199.98px) {
    .uccs-sp-ko-img-container {
        height: 250px;
    }

    canvas#ko-text-mask {
        height: 250px;
    }
}


@media screen and (max-width: 991.98px) {

    .uccs-sp-hero-cta-button {
        left: 66%;
    }

    .uccs-sp-ko-img-container {
        height: 200px;
    }

    canvas#ko-text-mask {
        height: 200px;
    }

}


@media screen and (max-width: 768px) {
    .uccs-sp-ko-img-container {
        height: 150px;
    }

    canvas#ko-text-mask {
        height: 150px;
    }

}

@media screen and (max-width: 576.98px) {

    .uccs-sp-hero-cta-button {
        position: relative;
        top: auto;
        left: 50%;
        margin-top: 165px;
        margin-bottom: 45px;
        -webkit-box-shadow: 0 0 20px 6px rgba(0,0,0,0.2);
        -moz-box-shadow:0 0 20px 6px rgba(0,0,0,0.2);
        box-shadow: 0 0 20px 6px rgba(0,0,0,0.2);
    }

    .uccs-sp-color-block {
        width: 68%;
        top: 45%;
        height: 40%;
    }

    div#UCCS_SPHeroImg_ {
        height: 250px;
        min-height: 250px;
    }

    .uccs-sp-hero-text-container {
        font-size: 50px;
        line-height: 50px;
        max-width: 2em;
        overflow: visible;
    }
    .uccs-sp-sidekick-text-container {
        color: black;
    }

    .uccs-sp-ko-img-container {
        height: 275px;
        margin-bottom: 3em;
    }

    canvas#ko-text-mask {
        height: 275px;
    }
}


.uccs-cta-cards-style-expanded {
    width: 100%;
    height: fit-content;
    min-height: 20vh;
    position: relative;
    margin-bottom: 1.5em;
}

span.uccs-cta-cards-spacer {
    height: 1.75em;
    display: block;
}

.uccs-cta-cards-row-color-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 250px;
    width: 40%;
    text-align: center;
    z-index: -1;
}

.uccs-cta-cards-row-grey-box {
    background: rgba(20, 20, 20, 0.5);
}
.uccs-cta-cards-row-gold-box {
    background: #CFB87B;
}

.uccs-cta-cards-row-dark-box {
    background: rgba(74, 74, 74, 0.92);
}

.uccs-cta-cards-row-dark-box .uccs-cta-cards-section-icon {
    color: white;
}

.uccs-cta-cards-row-accent {
    padding-top: 1em;
    padding-bottom: 2em;
}

.uccs-cta-cards-row-highlight {
    margin-top: 1em;
    margin-bottom: 2em;
}

.uccs-cta-cards-row-accent-color {
    background-image: repeating-linear-gradient(145deg,
    hsla(0,0%,40%,.1), hsla(0,0%,40%,.1) 3px,
    transparent 0, transparent 12px);
    /* height: 30%; */
    position: absolute;
    top: 1.5em;
    left: 0;
    right: 0;
    bottom: 40%;
}

.uccs-cta-cards-row-accent-color-dark {
    background-image: repeating-linear-gradient(145deg,
      hsla(0,0%,20%,.3), hsla(0,0%,20%,.3) 2px,
      transparent 0, transparent 10px);
    z-index: -5;
}

.uccs-cta-cards-row-highlight-color {
    background: rgba(0,0,0,0.1);
    position: absolute;
    top: 3em;
    bottom: 47%;
    left: 0;
    right: 0;
}

.uccs-cta-cards-row-highlight-color-dark {
    background: rgba(122,122,122,0.9);
    position: absolute;
    top: 3em;
    bottom: 47%;
    left: 0;
    right: 0;
    z-index: -10;
}

@media screen and (max-width: 576.98px) {
    .uccs-cta-cards-row-highlight-color-dark {
        height: 100%;
    }
}

.uccs-cta-cards-title-white {
    color: white;
}

.uccs-cta-cards-container {
    margin-top: 2em;
    justify-content: center;
}

.uccs-cta-card {
    max-width: 23%;
    width: 23%;
    margin: 1%;
    display: flex;
}
.uccs-cta-card.uccs-cta-card-1,
.uccs-cta-card.uccs-cta-card-2 {
    max-width: 45%;
    width: 45%;
    margin: 1%;
}

.uccs-cta-card.uccs-cta-card-3 {
    max-width: 30%;
    width: 30%;
    margin: 1%;
}


a.uccs-cta-card-link:hover {
    text-decoration: none;
}

h2.uccs-cta-cards-title {
    /*padding-top: 0.75em;*/
    font-weight: bolder;
}
.uccs-cta-cards-section-icon {
    position: absolute;
    right: 4em;
    top: 4em;
    color: rgba(0,0,0,0.65);
    z-index: 10;
}

.uccs-cta-card-content {
    background: white;
    padding: 2.5em 1.5em 1em 1.5em;
    border-radius: 4px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100% + 3em);
}

a:hover .uccs-cta-card-content,
.uccs-content-feed-card:hover {
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 6px rgba(0,0,0,0.2);
    box-shadow: 0 0 6px rgba(0,0,0,0.2);
}

.uccs-cta-card-icon {
    background: #CFB87B;
    height: 4em;
    width: 4em;
    display: block;
    text-align: center;
    padding-top: 0.75em;
    border-radius: 50%;
    color: black;
    position: absolute;
    top: -1.75em;
}

.expanded---gold-accent .uccs-cta-card-icon {
    background: black;
    color: white;
}

.uccs-cta-card-title {
    display: block;
    color: #e61e35;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.uccs-cta-card-subtitle {
    display: block;
    font-size: 24px;
    color: #949494;
    padding-bottom: 0.75em;
}

.uccs-cta-card-body {
    display: block;
    color: black;
    padding-bottom: 2em;
}

.uccs-cta-card-button {
    background: white;
    color: black;
    width: 90%;
    padding: 0.5em;
    border-radius: 4px;
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    cursor: pointer;
}

button.uccs-cta-card-button:before {
    background: none;
    border: 1px solid rgba(0,0,0,0.1);
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    top: -1.25em;
}

button.uccs-cta-card-button:focus {
    outline: none;
}



/***** Simple Card Styles ********/

.uccs-cta-cards-style-simple {
    padding-bottom: 3em;
    margin-bottom: 3em;
}

.uccs-cta-card-article {
    width: 100%;
    max-width: 100%;
}

a.uccs-cta-card-link {
    width:  100%;
}
.uccs-cta-cards-style-simple .uccs-cta-card-content {
    background: #f3f3f3;
    width: 100%;
    min-width: 100%;
    color: rgba(0,0,0,0.65);
}

.uccs-cta-cards-style-simple .uccs-cta-card-icon {
    background: white;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.uccs-cta-cards-style-simple .uccs-cta-card-subtitle {
    text-align: center;
    font-size: 18px;
    color: black;
    padding: 1em 0 2em 0;
    font-weight: bolder;
}

.uccs-cta-cards-style-simple .uccs-cta-card-title {
    display: none;
}

.uccs-cta-cards-style-simple .uccs-cta-card-body {
    display: none;
}

.uccs-cta-cards-style-simple .uccs-cta-card-button {
    background: #CFB87B;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    position: absolute;
    bottom: -1em;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
}

.uccs-cta-cards-style-simple .uccs-cta-card-button:before {
    content: none;
}

@media screen and (max-width: 991.98px) {

    .uccs-cta-cards-style-expanded .uccs-cta-card.uccs-cta-card-4 {
        max-width: 45%;
        width: 45%;
    }

    .uccs-cta-cards-row-accent-color {
        top: 10%;
        bottom: 30%;
    }

    .uccs-cta-cards-row-highlight-color {
        top: 2em;
        bottom: 0;
    }

}

@media screen and (max-width: 768px) {

    .uccs-cta-cards-container {
        flex-direction: column;
    }

    .uccs-cta-card {
        max-width: 90%;
        width: 90%;
        margin: 2em auto;
    }

    .uccs-cta-card,
    .uccs-cta-card.uccs-cta-card-1,
    .uccs-cta-card.uccs-cta-card-2,
    .uccs-cta-card.uccs-cta-card-3 {
        max-width: 90%;
        width: 90%;
        margin: 3em auto;
    }

    .uccs-cta-cards-style-simple .uccs-cta-card,
    .uccs-cta-cards-style-simple .uccs-cta-card-1,
    .uccs-cta-cards-style-simple .uccs-cta-card-2,
    .uccs-cta-cards-style-simple .uccs-cta-card-3 {
        max-width: 80%;
        width: 80%;
    }


    .uccs-cta-cards-style-expanded .uccs-cta-card.uccs-cta-card-4 {
        width: 90%;
        max-width: 90%;

    }

}

/****** Content Feed (additional styles for Cards) *******/

.uccs-cta-card-body input {
    max-width: 100%;
    margin-bottom: 0.75em;
}

.uccs-cta-card-body select {
    margin-bottom: 0.75em;
}

.uccs-cta-card-body textarea {
    max-width: 100%;
    margin-bottom: 0.75em;
}

.uccs-cta-card-body label {
    margin-bottom: 0.25em;
}

.uccs-content-feed-card .uccs-cta-card-body {
    max-height: 600px;
    overflow-y: auto;
}


.uccs-content-feed-card a:hover .uccs-cta-card-button {
    font-weight: bolder;
    box-shadow: 0 0 8px rgba(0,0,0,0.25);
    cursor: pointer;
}

.UCCScommuniqueEntry.row {
    margin: 0;
    padding: 0.5em 0;
}

.UCCScommuniqueStory a {
    color: #565a5c;
}

span[id^=spContentFeed-] {
    margin-right: -20px;
    padding-right: 10px;
}

.uccs-cta-card-body .webform-button--submit {
    padding: 0.25em 1.5em;
    text-align: center;
    background: #CFB87B;
    border-radius: 4px;
    display: block;
    margin: 0.5em auto;
}

.uccs-cta-card-body .webform-button--submit:hover {
    background: #e2cb8d;
}



/****** Duo Tone Row ********/
.uccs-sp-duo-tone-img {
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.uccs-duo-tone-icons {
    position: absolute;
    display: flex;
    top: 0;
    flex-direction: column;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.uccs-duo-tone-icons svg {
    margin: .25em;
}

.uccs-duo-tone-gold,
.uccs-duo-tone-gold-container .uccs-sp-duo-tone-img {
    filter: url(#duotone_uccsGold);
    padding: 0;
}

.uccs-duo-tone-black,
.uccs-duo-tone-black-container .uccs-sp-duo-tone-img  {
    filter: url(#duotone_uccsGrey);
    padding: 0;
}

.uccs-duo-tone-wash-out,
.uccs-duo-tone-washout-container .uccs-sp-duo-tone-img {
    filter: url(#duotone_uccsWashOut);
    padding: 0;
}

.uccs-duo-tone-blur,
.uccs-duo-tone-blur-container .uccs-sp-duo-tone-img {
    filter: url(#duotone_uccsBlur);
    padding: 0;
}

.duotone-filter-container {
    height: 0;
    width: 0;
    overflow: hidden;
}

svg.duotone-filters {
    display: block;
    height: 0;
    width: 0;
}

.duotone-image-right {
    flex-direction: row-reverse;
}

.uccs-duo-tone-content-gold {
    background-color: #CFB87B;
}

.uccs-duo-tone-content-black {
    background-color: black;
}

.uccs-duo-tone-content-wash-out {
    background-color: #D8D8D8;
}

.uccs-duo-tone-content-grey {
    background-color: #4A4A4A;
}

.uccs-duo-tone-content {
    margin: 1em -15px;
}

.uccs-duo-tone-content-text div {
    margin: 0.25em;
    padding: 0 2em 0.5em 2em;
    height: fit-content;
}

.uccs-duo-tone-image-container {
    margin: 0;
    padding: 0;
}

.uccs-duo-tone-title {
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 15px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
}

.uccs-duo-tone-subtitle {
    color: #BDBDBD;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.uccs-duo-tone-content-gold .uccs-duo-tone-subtitle {
    color: #970213;
}

.uccs-duo-tone-content-black .uccs-duo-tone-subtitle {
    color: #e90c26;
}

.uccs-duo-tone-content-wash-out .uccs-duo-tone-subtitle {
    color: #bb1629;
}

.uccs-duo-tone-body {
    text-align: center;
    font-weight: bold;
}

.uccs-duo-tone-content-text {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3em 0;
}

.uccs-duo-tone-content-black .uccs-duo-tone-body, .uccs-duo-tone-content-grey .uccs-duo-tone-body {
    color: white;
}

.uccs-duo-tone-content-wash-out .uccs-duo-tone-title  {
    color: black;
    text-shadow: none;
}

.uccs-duo-tone-button {
    width: 60%;
    height: 3em;
    border-radius: 4px;
    border: 1px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, .3);
    margin-top: 1.5em;
    background-color: white;
    padding: 0;
    text-align: center;
}

.uccs-duo-tone-button a {
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: .5em;
}

.uccs-duo-tone-button a:hover {
    font-weight:  bold;
    text-decoration:  none;
}

@media screen and (max-width: 768px) {
    .uccs-sp-duo-tone-img {
        height: 400px;
    }
}

/******* Row Header *******/
.paragraph--type--single-page-section-header {
    margin: 1em 0;
}

.uccs-sp-row-row {
    margin: 1em 0;
}

.uccs-sp-row-title {
    padding: 0;
}

.uccs-sp-row-title h2 {
    font-weight:  bold;
    text-align: left;
    margin: 0;
}

.uccs-sp-row-link {
    text-align: right;
    display: flex;
    border-top: 1px solid #979797;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 2;
    align-self: flex-end;
    margin-bottom: 1em;
    margin-top: 3em;
    height: 3em;
}

.uccs-sp-row-link-empty {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 2;
    align-self: flex-end;
    margin-bottom: 1em;
    margin-top: 3em;
    height: 3em;
}

.uccs-sp-row-link a {
    color: black;
    padding-right: 1em;
    text-transform: uppercase;
}

@media screen and (max-width: 991.98px) {
    .uccs-sp-row-title h2 {
        margin: 0;
    }
}


@media screen and (max-width: 768px) {
    .uccs-sp-row-title h2 {
        margin-left: 0;
        padding-right: 2em;
        margin-bottom: 1em;
    }

    .col-md.uccs-sp-row-link {
        margin-top: 1em;
        height: 4em;
        margin-left: 25%;
        max-width: 75%;
    }

    .uccs-sp-row-link {
        padding-bottom: 1em;
        line-height: 2.5;
    }

    .uccs-sp-row-link-empty {
        display: none;
    }

}

/******* Success Story Row *******/

.uccs-sp-success-container {
    overflow: hidden;
}

.uccs-sp-success-accent {
    position: absolute;
    width: 90%;
    left: 0;
    height: 200px;
    margin-top: 200px;
    z-index: -5;
}
.uccs-sp-success-accent-gold {
    background: hsla(44, 47%, 55%, 0.7);
}

.uccs-sp-success-accent-grey {
    background: hsla(0, 0%, 60%, 0.7);
}

.uccs-sp-success-cards .uccs-sp-mini-bio-extra-container {
    display: none;
}


.uccs-sp-success-circle {
    width: 350px;
    height: 350px;
    background-color: #f3f3f3;
    border-radius: 50%;
    position: absolute;
    right: -150px;
    top: -100px;
    z-index: -10;
}

.uccs-sp_success-content {
    position: relative;
}

.uccs-sp-mini-bio-card {
    display: flex;
}

.uccs-sp-mini-bio-card-container {
    background: black;
    border-radius: 4px;
    color: white;
    padding: 1em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    margin-bottom: 1em;
}

.uccs-sp-mini-bio-card-title-container {
    min-height: 170px;
}

.uccs-sp-mini-bio-card-title-block {
    background: white;
    border-radius: 4px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.uccs-sp-mini-bio-card-image-container {
    width: 150px;
    height: 150px;
    position: absolute;
}

.uccs-sp-mini-bio-img {
    height: 100%;
    width: 100%;
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.uccs-sp-mini-bio-card-title {
    color: #db1a30;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 160px;
}

.uccs-sp-mini-bio-card-subtitle {
    color: black;
    font-size: 20px;
    margin-left: 160px;
}

.uccs-sp-mini-bio-card-body {
    padding: 1em;
}

.uccs-sp-mini-bio-extra-container {
    padding: 1em;
}

.uccs-sp-mini-bio-extra-title {
    font-size: 30px;
    font-weight: bolder;
    line-height: 1;
    margin-bottom: 1em;
}

.uccs-sp-mini-bio-extra-title.uccs-gold-text {
    color: #565a5c;
    text-shadow: 1px 1px 1px #CFB87B;
}

/***** Image Slider *****/
.uccs-sp-image-slider-title h2 {
    color: #BA9944;
    font-weight:  bold;
    text-align: left;
    margin: 0 2em 2em;
}

.uccs-sp-image-slider-link {
    text-align: right;
    display: flex;
    border-top: 1px solid #979797;
    align-items: flex-end;
    justify-content: flex-end;
    line-height: 2;
}

.col-md.uccs-sp-image-slider-link {
    margin-top: 3em;
    height: 2.5em;
    align-self: flex-end;
    margin-bottom: 1em;
}

.uccs-sp-image-slider-link a {
    color: black;
    padding-right: 1em;
    text-transform: uppercase;
}

.uccs-media-image-slider-image img {
    height: 200px;
    width: auto;
    margin: auto;
    display: block;
}

.uccs-media-image-slider-title {
    color: #db1a30;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.uccs-media-image-slider-body {
    color: black;
    font-size: 16px;
}


.uccs-sp-image-slider-card {
    width: 300px;
    max-height: 385px;
    overflow: hidden;
    margin: 0 1em;
}

.uccs-sp-slider-background-img {
    height: 450px;
    min-height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin-bottom: 1em;
}

.uccs-sp-image-slider-content {
    position: relative;
    overflow: hidden;
}

.uccs-sp-image-slider-control svg {
    margin-top: 67px;
}

.uccs-sp-image-slider-slider {
    display: flex;
    position: absolute;
    top: 35px;
    left: 35px;
}

.uccs-sp-image-slider-control {
    position: absolute;
    top: 35%;
    background-color: black;
    color: white;
    height: 150px;
    width: 2em;
    text-align: center;
    z-index: 20;
}

.uccs-sp-image-slider-control-left {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.uccs-sp-image-slider-control-right {
    left: calc(100vw - 3em);
    border-radius: 4px 0 0 4px;
}
.has-sidebar .uccs-sp-image-slider-control-right {
    left: auto;
    right: 0;
}

.uccs-sp-image-slider-card div {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.uccs-media-image-slider-count {
    color: #C8c8c8;
    font-weight: bold;
    font-size: 24px;
}

@media screen and (max-width: 991.98px) {
    .uccs-sp-image-slider-title h2 {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {

    .uccs-sp-image-slider-title h2 {
        margin-left: 0;
        padding-right: 2em;
        margin-bottom: 1em;
    }

    .col-md.uccs-sp-image-slider-link {
        margin-top: 1em;
        height: 4em;
        margin-left: 25%;
        max-width: 75%;
    }

    .uccs-sp-image-slider-link {
        padding-bottom: 1em;
        line-height: 2.5;
    }


}

@media screen and (max-width: 576.98px) {
    .uccs-sp-image-slider-control {
        display: none;
    }
}

/******** SECTION HEADER *******/

.uccs-sp-sect-header-block-text {
    font-size: 150px;
    position: absolute;
    line-height: 1;
    z-index: -5;
    color: #f7f2e7;
    left: 0;
    white-space: normal;
    overflow: hidden;
    text-align: center;

}

.uccs-sp-sect-header-icon {
    position: absolute;
    left: calc(100% - 25%);
    width: 8em;
    width: fit-content;
}

.uccs-sp-sect-header-cta-link a {
    color: black;
    background: #CFB87B;
    padding: 1em 2em;
    border-radius: 8px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2em;
    z-index: 20;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    text-transform: uppercase;
}

.uccs-sp-sect-header-cta-link a:hover {
    color: #222;
    background: #E2CB8D;
    text-shadow: 0 0 2px rgba(10,0,0,0.2);
    text-decoration: none;
}


@media screen and (max-width: 991.98px) {
    .uccs-sp-sect-header-cta-link a {
        left: 66%;
    }
}

@media screen and (max-width: 768px) {

    .uccs-sp-sect-header-icon {
        position: relative;
        left: auto;
        margin-left: 50%;
        transform: translateX(-4em);
        margin-top: 1em;
        max-width: 8em;
    }

    .uccs-sp-sect-header-block-text {
        font-size: 75px;
        white-space: normal;
        margin-top: 0;
        text-align: center;
    }

    .uccs-sp-sect-header-cta-link a {
        position: relative;
        display: flex;
        max-width: fit-content;
        text-align: center;
        margin-bottom: 2em;
        width: fit-content;
        margin: auto;
        transform: initial;
        left: auto;
        top: auto;
        margin-top: 1em;
    }

}

/***** Accordion Row ********/
.uccs-sp-accordion-row-container.container {
    background: #F3f3f3;
    margin-bottom: 1em;
    border: 1px solid rgba(81,86,99,0.24);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.uccs-sp-accordion-header.col-10 {
    padding: 1em;
}

.uccs-sp-accordion-toggle {
    padding: 1em 2em;
    text-align: right;
    cursor: pointer;
}

.uccs-sp-accordion-title {
    color: #db1a30;
    text-transform: uppercase;
    font-weight: bold;
}

.uccs-sp-accordion-question {
    font-size: 18px;
    color: black;
    font-weight: bolder;
}

.uccs-sp-accordion-footer {
    display: none;
}

.uccs-sp-accordion-row-container.active {
    background: white;
}

.uccs-sp-accordion-row-container.active .uccs-sp-accordion-footer {
    display: flex;
}

/******* List Row *******/

.uccs-sp-list-paragraph .uccs-duo-tone-gold,
.uccs-sp-list-paragraph .uccs-duo-tone-black,
.uccs-sp-list-paragraph .uccs-duo-tone-wash-out {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uccs-sp-sp-list-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.uccs-sp-list-paragraph {
    position: relative;
    margin-bottom: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.uccs-white-text .uccs-sp-row-link a {
    color: white;
}

.uccs-sp-list-ul-header {
    background: rgba(0,0,0,0.1);
    border-radius: 4px 4px 0 0;
    padding: 1em;
}

span.uccs-sp-list-ul-header-sub-title {
    color: #e90c26;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 14px;
}

span.uccs-sp-list-ul-header-title {
    font-size: 24px;
    font-weight: bolder;
    line-height: 1;
}

.uccs-sp-list-content {
    display: none;
}

.uccs-sp-list-item-body a {
    color: #4a4a4a;
}

.uccs-sp-list-link {
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 0.5em;
}

li.uccs-sp-list-item-row:nth-child(1) .uccs-sp-list-link {
    border-top: 1px solid rgba(0,0,0,0.2);
}

li.uccs-sp-list-item-row {
    margin: 0;
    padding: 0;
    cursor: pointer;
}

ul.uccs-sp-list-ul {
    background: rgba(0,0,0,0.1);
    list-style: none;
    padding: 0 2em 2em;
    border-radius: 0 0 4px 4px;
}

.uccs-sp-link-title {
    display: inline-flex;
    margin-right: 2em;
}

span.uccs-sp-link-title-arrow {
    position: absolute;
    right: 3.5em;
}

li.uccs-sp-list-item-row.active {
    background: white;
    margin: 0 -1em;
    padding: 0 1em;
    border-radius: 4px;
}

li.active .uccs-sp-list-link {
    border-color: transparent;
}

li.active span.uccs-sp-link-title-arrow {
    right: 3em;
}

.uccs-sp-list-details {
    height: fit-content;
    min-height: 0;
    margin-bottom: 1em;
    opacity: 0;
}

.uccs-sp-list-item-title {
    font-size: 24px;
    font-weight: bolder;
    margin: 0.5em 0 1em 0;
}

.uccs-sp-list-item-button a {
    padding: 1em;
    background: white;
    border-radius: 4px;
    color: black;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    text-shadow: none;
}

.uccs-sp-list-item-button a:hover {
    font-weight: bolder;
}

.uccs-sp-list-item-button {
    display: block;
    text-align: center;
    margin: 2em;
}

.uccs-white-text .uccs-sp-list-details {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.5);
    border-radius: 4px;
}

.uccs-sp-row-container.uccs-white-text {
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
}

.uccs-dark-ul .uccs-sp-list-ul-header,
.uccs-dark-ul ul.uccs-sp-list-ul {
    background: black;
    color: white;
}

.uccs-dark-ul li.uccs-sp-list-item-row.active {
    color: black;
}

.uccs-semi-opaque-ul .uccs-sp-list-ul-header,
.uccs-semi-opaque-ul ul.uccs-sp-list-ul {
    background: rgba(202,200,201,0.85);
    color: black;
    border: 1px solid rgba(0,0,0,0.2);
}

.uccs-semi-opaque-ul .uccs-sp-list-ul-header {
    border-bottom: none;
}

.uccs-semi-opaque-ul ul.uccs-sp-list-ul {
    border-top: none;
}

.uccs-semi-opaque-ul li.uccs-sp-list-item-row.active {
    color: black;
}

.uccs-no-img-filter .uccs-sp-list-details {
    background: rgba(202,200,201,0.85);
    border-radius: 4px;
    display: block;
}

.uccs-white-background .uccs-sp-list-details {
    background: white;
    border-radius: 4px;
}

.uccs-sp-list-details.block {
    margin-bottom: 1em;
    opacity: 1;
    padding-top: 0.5em;
}

.force-redraw::before { content: "" }

.uccs-sp-list-accent-block {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1em;
    height: 275px;
}

.uccs-sp-list-accent-block.uccs-sp-list-accent-gold {
    background: #CFB87B;
}

.uccs-sp-list-accent-block.uccs-sp-list-accent-grey {
    background: #D8D8D8;
}

.uccs-sp-list-content-row {
    height: 100%;
}


/******** Jumbo Button Row **********/
.uccs-sp-jumbo-button-row {
    min-height: 3em;
    border-radius: 4px;
    margin: 1em 0;
}

.uccs-sp-jumbo-button-title {
    color: white;
    padding: 1.25em 3em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
    min-height: 7em;
}

.uccs-sp-jumbo-button-link-col {
    min-height: 7em;
}

.uccs-sp-jumbo-button-link {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.uccs-sp-jumbo-button-img-container {
    width: 95%;
    height: 100%;
    margin: auto;
}

.uccs-sp-jumbo-button-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.uccs-sp-jumbo-button-link a {
    background: #CFB87B;
    border-radius: 4px;
    padding: 1em 3em;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    white-space: nowrap;
}

.uccs-sp-jumbo-button-link a:hover {
    color: #222;
    background: #E2CB8D;
    text-shadow: 0 0 2px rgba(10,0,0,0.2);
    text-decoration: none;
}

@media screen and (max-width: 768px) {

    .uccs-sp-jumbo-button-row {
        padding-bottom: 1em;
    }

    .uccs-sp-jumbo-button-link-col {
        padding: 0;
    }

    .uccs-sp-jumbo-button-img-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

}

/******* Bullet List *********/

.uccs-sp-bullet-list {
    margin: 2em 0;
}

.uccs-sp-bullet-list-header-title {
    margin-top: 1em;
}

.uccs-sp-bullet-list-header-icon svg {
    position: absolute;
    right: 0.75em;
    top: 0.25em;
    z-index: -1;
}

.uccs-sp-bullet-list-item-content a {
    color: #CFB87B;
    text-decoration: underline;
}

.uccs-sp-bullet-list-item-content a:hover {
    color: #EBDDBD;
}

ol.uccs-sp-bullet-list-ol {
    column-count: 2;
    margin: 1em;
    padding: 1em;
    list-style: none;
    counter-reset: bulletlist;
}

li.uccs-sp-bullet-list-item {
    margin: 0 2em 0 5em;
    padding: 0.5em 0;
    position: relative;
    break-inside: avoid;
    page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

li.uccs-sp-bullet-list-item:before {
    content: counter(bulletlist) ".";
    counter-increment: bulletlist;
    position: absolute;
    margin-left: -1.5em;
    top: calc(50% - 0.5em);
    font-size: 3em;
    font-weight: bolder;
    height: 6rem;
}

.uccs-bullet-list-icons li.uccs-sp-bullet-list-item:before {
    display: none;
}

.uccs-bullet-list-icons li.uccs-sp-bullet-list-item {
    margin: 0 1em 0 0;
    padding: 0;
}

.uccs-sp-bullet-list-item-content {
    border-bottom: 1px solid #8D8D8D;
    padding: 1.5em 0;
    min-height: 2em;
}

.uccs-bullet-list-ordinal span.uccs-sp-bullet-list-item-icon {
    display: none;
}

.uccs-sp-bullet-list-item-title {
    font-weight: bolder;
}

.uccs-bullet-list-dark {
    background: #444444;
    color: white;
}

.uccs-bullet-list-dark li.uccs-sp-bullet-list-item:before,
.uccs-bullet-list-dark span.uccs-sp-bullet-list-item-icon {
    color: #EBDDBD;
}

.uccs-bullet-list-dark .uccs-sp-bullet-list-header-icon svg {
    color: #222222;
    z-index: 0;
}

.uccs-bullet-list-light li.uccs-sp-bullet-list-item:before,
.uccs-bullet-list-light span.uccs-sp-bullet-list-item-icon,
.uccs-bullet-list-light .uccs-sp-bullet-list-header-title {
    color: #CFB87B;
}

.uccs-bullet-list-light .uccs-sp-bullet-list-item-content,
.uccs-bullet-list-light li.uccs-sp-bullet-list-item:first-of-type .uccs-sp-bullet-list-item-content{
    border: none;
}

@media screen and (max-width: 768px) {
    .uccs-sp-bullet-list-header-icon svg {
        top: 0.75em;
        right: 0.25em;
    }

    ol.uccs-sp-bullet-list-ol {
        column-count: 1;
    }

    li.uccs-sp-bullet-list-item {
        margin: 0;
    }
}

/********* Webform Row *********/
.uccs-sp-webform-row {
    margin-top: 1em;
    margin-bottom: 1em;
}

.uccs-sp-webform-col {
    padding: 1em;
    margin: 1em;
    border: 1px solid #D8d8d8;
    border-radius: 4px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.1);
}

input.form-submit {
    font-size: larger;
    padding: 0.5em 1em;
    border-radius: 8px;
    background: #CFB87B;
    box-shadow: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid #8d8d8d;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
}

input.form-submit:hover {
    background: #E2CB8D;
    box-shadow: 0 2px 4px rgba(0,0,0,0.25);
}


/********* ICON CTA Row **************/
.paragraph--type--single-page-icon-cta-row {
    position: relative;
    margin-bottom: 2em;
    padding: 1em 0;
    overflow: hidden;
}

.uccs-cta-icon-row-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.uccs-icon-cta-bg-img {
    height: 100%;
    background-position: center;
    background-size: cover;
}

.uccs-sp-cta-icon-icon {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 3em;
}

.uccs-sp-icon-cta-link {
    background: white;
    border-radius: 50%;
    margin: auto;
    padding: 25px;
    border: 3px solid white;
    box-shadow: 0 0 5px 3px rgba(20,20,20,0.75);
    transition: all .3s ease-in-out;
}

a.uccs-sp-icon-cta-link-a {
    color: #b31217;
    text-decoration: none;
    display: inline-block;
    width: 128px;
    height: 128px;
}

a.uccs-sp-icon-cta-link-a:hover {
    color: white;
}

a:hover .uccs-sp-icon-cta-link {
    background: transparent;
}

span.uccs-sp-icon-cta-text {
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 1.25em;
}

/********* ICON Card CTA Row **************/
.uccs-sp-icon-card-cta-paragraph {
    margin: 0;
    padding-bottom: 2em;
}

.uccs-icon-cta-card-container {
    padding: 0;
    border-top: 3px solid #CFB87B;
}

.uccs-icon-card-cta-link {
    display: block;
    overflow: hidden;
}

.uccs-sp-icon-card-bg-img {
    height: 400px;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: all .5s ease-in-out;
}

.uccs-icon-card-cta-link:hover .uccs-sp-icon-card-bg-img {
    filter: url(#duotone_uccsGold);
    transform: scale(1.2);
}

.uccs-sp-icon-card-cta-span {
    position: absolute;
    z-index: 100;
    top: calc(50% - 3em);
    left: calc(50% - 3em);
}

.uccs-sp-icon-card-cta-icon-container{
    background: #EBEBEB;
    border-radius: 50%;
    margin: auto;
    padding: 1em;
    box-shadow: 0 0 4px 3px rgba(20,20,20,0.75);
    color: #4a4a4a;
    display: block;
    width: 90px;
    height: 90px;
    text-align: center;
}

.uccs-sp-icon-card-cta-icon {
    margin-top: 2px;
}

.uccs-sp-icon-card-cta-title {
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 0 2px #222;
}
