
.uccs-news-story-title-h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
    font-size: 48px;
    text-rendering: optimizeLegibility;
}

.uccs-news-story-image {
    margin-bottom: 1em;
}

.uccs-news-story-image-img img {
    width: 100%;
    height: auto;
}

.uccs-news-story-img-author {
    color: #565a5c;
    font-size: 14px;
    padding: 0 0.5em;
}

.uccs-news-story-img-caption {
    color: #444444;
}

.uccs-news-story-byline-thumbnail img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.uccs-news-story-byline-thumbnail {
}

.uccs-news-story-byline-main {
    display: flex;
}

.uccs-news-story-byline-name {
    color: black;
    align-self: center;
    margin-left: 0.5em;
    font-size: 18px;
}

.uccs-news-story-byline {
    margin-bottom: 1em;
}

.uccs-news-story-byline-name a {
    color: black;
}

.uccs-news-story-byline-meta {
    display: flex;
    align-items: flex-end;
}

.uccs-news-story-byline-link {
    margin: 0.25em;
    padding: 0.5em;
    background: #d8d8d8;
    color: black;
    border-radius: 50%;
    border: 1px solid transparent;
}

.uccs-news-story-byline-link:hover {
    background: #FAFAFA;
    border: 1px solid #444444;
    color: #222222;
}

.uccs-news-story-date {
    color: #565a5c;
}

.uccs-news-story-content-image {
    align-self: center;
}

.uccs-news-story-additional-info-link {
    display: block;
    font-size: 18px;
    margin: 0.5em 0;
}

.uccs-news-story-additional-info-link a {
    color: #444444;
}

/****** Accent Row Styles *********/
.uccs-news-accent-blockquote {
    padding: 1em 1em 0.25em 1em;
    margin: 1em 2em;
    border-top: 1px solid #8d8d8d;
    border-bottom: 1px solid #8d8d8d;
    font-size: 20px;
    font-style: italic;
    color: #565a5c;
}

.uccs-news-accent-card {
    min-height: 3em;
    background: rgba(207, 184, 123, 0.25);
    padding: 1em;
    font-size: 18px;
    margin-bottom: 2em;
    border-radius: 4px;
    box-shadow: 0 0 0px 2px rgba(0,0,0,0.2);
    margin: 1em 5% 2em 20%;
}

.uccs-news-accent-list {
    font-size: 20px;
    line-height: 2em;
    margin: 1em 5% 2em;
    border-left: 2px solid #8d8d8d;
    background: #FAFAFA;
    padding: 1em;
}

.uccs-news-story-accent-row a {
    color: #565a5c;
}

.uccs-news-story-accent-row a:hover {
    color: #222222;
}


/******* News Collection (View) *********/

.views-view-grid.horizontal.cols-2 {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}

.uccs-news-collection-details {
    padding-left: 1em;
}

.uccs-news-collection-story-details {
    border-bottom: 1px solid #d8d8d8;
    padding: 0.5em 1em;
    background: #fafafa;
}

.uccs-news-collection-thumbnail {
    text-align: center;
    align-self: center;
}

.uccs-news-collection-title-header {
    font-size: 1.5rem;
}

.uccs-news-collection-title a {
    color: #444444;
}

.uccs-news-collection-abstract {
    color: #565a5c;
    margin-bottom: 1em;
}

.uccs-news-collection-date {
    color: #565a5c;
    font-size: 14px;
}

.uccs-news-collection {
    margin-bottom: 1em;
}