.uccsLoginBox h1 {
    display: none;
}

.uccsLoginBox {
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.user-login-form .description {
    display: none;
}

form.user-login-form label {
    font-size: 18px;
    font-weight: bolder;
    margin-right: 0.5em;
    margin-top: 0.25em;
}

form.user-login-form input {
    display: inline-block;
    float: right;
}

form.user-login-form input#edit-submit {
    clear: both;
    float: none;
    margin: auto;
    display: block;
    padding: 0.5em 2em;
    border-radius: 4px;
    background: #CFB87B;
}

.uccs-local-tasks {
    display: none;
}

form.user-login-form .form-item {
    margin: 1em 0;
}

.uccsLoginBox-help {
    margin-top: 1em;
}

.uccsLoginBox-help a {
    color: #CFB87B;
}

div#block-uccsbase-k18-breadcrumbs {
    display: none;
}