{#
/**
 * Theme layout to display a UCCS Single Page Page Header Media.
 *
 * Created by jsparks on 7/23/18
 */
#}

<article{{ attributes }}>
    {{ title_suffix.contextual_links }}

    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% set titleColor = '' %}
        {% if 'gold' in content.field_sp_header_title_color|render|striptags|trim|lower  %}
            {% set titleColor = 'uccs-gold-text' %}
        {% elseif 'grey' in content.field_sp_header_title_color|render|striptags|trim|lower %}
            {% set titleColor = 'uccs-grey-text-mid' %}
        {% endif %}

        {% set mainContentPosition = '' %}
        {% if 'left' in content.field_sp_header_content_position|render|striptags|trim|lower  %}
            {% set mainContentPosition = 'left' %}
        {% elseif 'right' in content.field_sp_header_content_position|render|striptags|trim|lower %}
            {% set mainContentPosition = 'right' %}
        {% elseif 'bottom' in content.field_sp_header_content_position|render|striptags|trim|lower %}
            {% set mainContentPosition = 'bottom' %}
        {% endif %}

        {% set accentColorBlockHue = '' %}
        {% if 'gold' in content.field_sp_header_color_block|render|striptags|trim|lower  %}
            {% set accentColorBlockHue = 'uccs-sp-color-block-gold' %}
        {% elseif 'grey' in content.field_sp_header_color_block|render|striptags|trim|lower %}
            {% set accentColorBlockHue = 'uccs-sp-color-block-grey' %}
        {% endif %}

        {% set accentColorBlockPos = '' %}
        {% if 'left' in content.field_sp_header_color_block|render|striptags|trim|lower  %}
            {% set accentColorBlockPos = 'left' %}
        {% elseif 'right' in content.field_sp_header_color_block|render|striptags|trim|lower %}
            {% set accentColorBlockPos = 'right' %}
        {% endif %}

        {% set imageFilter = '' %}
        {% if 'gold' in content.field_sp_header_image_filter|render|striptags|trim|lower  %}
            {% set imageFilter = 'uccs-duo-tone-gold' %}
        {% elseif 'grey' in content.field_sp_header_image_filter|render|striptags|trim|lower %}
            {% set imageFilter = 'uccs-duo-tone-black' %}
        {% elseif 'washout' in content.field_sp_header_image_filter|render|striptags|trim|lower %}
            {% set imageFilter = 'uccs-duo-tone-wash-out' %}
        {% endif %}

        {% set hasHeroBlock = '' %}
        {% if content.field_sp_header_block_hero_text_|render %}
            {% set hasHeroBlock = 'uccs-hero-block' %}
        {% endif %}

        <div class="uccs-sp-header-banner container-fluid">
            <div class="uccs-sp-header-banner-content-container container">
                <div class="up-sp-header-banner-content row">
                    <div class="col-lg uccs-sp-header-title-container">
                        <h2 class="uccs-sp-header-h2">
                            {{ content.field_sp_header_section_title }}
                        </h2>

                        {% if content.field_sp_header_main_cta_button|render %}
                            {{ content.field_sp_header_main_cta_button }}
                        {% endif %}
                    </div>
                    <div class="col-lg uccs-sp-header-image-container">
                        <div class="uccs-sp-header-image-filter {{ imageFilter }}">
                            {{ content.field_media_image_8 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uccs-sp-header-content container-fluid">
            {% if accentColorBlockPos == 'left' %}
                <div class="uccs-sp-header-color-block-left {{ accentColorBlockHue }}"></div>
            {% endif %}
            <div class="uccs-sp-header-body-content container">

                <div class="uccs-sp-header-body-content row">
                    <div class="col-md uccs-sp-header-body-left">
                        {% if content.field_sp_header_block_hero_text_|render %}
                            <div class="uccs-sp-header-hero-block-text uccs-liberator-heavy">
                                {{ content.field_sp_header_block_hero_text_ }}
                            </div>
                        {% endif %}

                        {% if mainContentPosition == 'right' and content.field_sp_header_main_cta_button|render %}
                            <div class="uccs-sp-header-cta-button-mobile uccsp-sp-header-cta-button-mobile-spacer">
                                {{ content.field_sp_header_main_cta_button }}
                            </div>
                        {% else %}


                        {% endif %}

                        <div class="uccs-sp-header-content-left-spacer {{ hasHeroBlock }}">
                            {% if mainContentPosition == 'left' and content.field_sp_header_icons|render %}
                                <div class="uccs-sp-header-body-icons-left {{ titleColor }}">
                                    {{ content.field_sp_header_icons }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'left' and content.field_sp_header_content_title|render %}
                                <div class="uccs-sp-header-body-title {{ titleColor }}">
                                    {{ content.field_sp_header_content_title }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'left' and content.field_sp_header_main_cta_button|render %}
                                <div class="uccs-sp-header-cta-button-mobile">
                                    {{ content.field_sp_header_main_cta_button }}
                                </div>
                            {% endif %}


                            {% if mainContentPosition == 'left' and content.field_sp_header_main_body|render %}
                                <div class="uccs-sp-header-body-copy">
                                    {{ content.field_sp_header_main_body }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'left' and content.field_sp_header_cta_buttons|render %}
                                <div class="uccs-sp-header-body-additional-buttons">
                                    {{ content.field_sp_header_cta_buttons }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md uccs-sp-header-body-right">
                        {% if mainContentPosition == 'right' and content.field_sp_header_icons|render %}
                            <div class="uccs-sp-header-body-icons-right {{ titleColor }} ">
                                {{ content.field_sp_header_icons }}
                            </div>
                        {% endif %}

                        {% if mainContentPosition == 'right' and content.field_sp_header_content_title|render %}
                            <div class="uccs-sp-header-body-title {{ titleColor }}">
                                {{ content.field_sp_header_content_title }}
                            </div>
                        {% endif %}

                        {% if mainContentPosition == 'right' and content.field_sp_header_main_body|render %}
                            <div class="uccs-sp-header-body-copy">
                                {{ content.field_sp_header_main_body }}
                            </div>
                        {% endif %}

                        {% if mainContentPosition == 'right' and content.field_sp_header_cta_buttons|render %}
                            <div class="uccs-sp-header-body-additional-buttons">
                                {{ content.field_sp_header_cta_buttons }}
                            </div>
                        {% endif %}
                    </div>

                </div>
                {% if accentColorBlockPos == 'right' %}
                    <div class="uccs-sp-header-color-block-right {{ accentColorBlockHue }}"></div>
                {% endif %}
            </div>
        </div>
        {% if content.field_sp_header_additional_copy|render %}
            <div class="uccs-sp-header-additional-content container-fluid">
                <div class="uccs-sp-header-additional-content-container container">
                    <div class="row">
                        <div class="uccs-sp-header-bottom-content col">

                            {% if mainContentPosition == 'bottom' and content.field_sp_header_main_cta_button|render %}
                                <div class="uccs-sp-header-cta-button-mobile uccsp-sp-header-cta-button-mobile-spacer">
                                    {{ content.field_sp_header_main_cta_button }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'bottom' and content.field_sp_header_icons|render %}
                                <div class="uccs-sp-header-body-icons-left {{ titleColor }}">
                                    {{ content.field_sp_header_icons }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'bottom' and content.field_sp_header_content_title|render %}
                                <div class="uccs-sp-header-body-title {{ titleColor }}">
                                    {{ content.field_sp_header_content_title }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'bottom' and content.field_sp_header_main_body|render %}
                                <div class="uccs-sp-header-body-copy">
                                    {{ content.field_sp_header_main_body }}
                                </div>
                            {% endif %}

                            {% if mainContentPosition == 'bottom' and content.field_sp_header_cta_buttons|render %}
                                <div class="uccs-sp-header-body-additional-buttons">
                                    {{ content.field_sp_header_cta_buttons }}
                                </div>
                            {% endif %}

                            {{ content.field_sp_header_additional_copy }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    {% endif %}

</article>