{#
/**
 * Theme layout to display a UCCS Single Page Hero Image Media.
 *
 * Created by jsparks on 7/3/18
 */
#}
<article{{ attributes }}>
  {{ title_suffix.contextual_links }}

    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-sp-hero-image-container">

            {{ content.field_media_image_2 }}

            {% if content.field_sp_hero_text|render %}
                <div class="uccs-sp-color-block">
                    <div class="uccs-sp-hero-text-container uccs-liberator-heavy" >
                        {{ content.field_sp_hero_text }}
                    </div>

                    <div class="uccs-sp-sidekick-text-container">
                        {{ content.field_sp_sidekick_text }}
                    </div>
                </div>
            {% endif %}

            {% if content.field_sp_cta_button|render %}
                <div class="uccs-sp-hero-cta-button">
                    {{ content.field_sp_cta_button }}
                </div>
            {% endif %}

        </div>

    {% endif %}

</article>