{#
/**
 * Theme layout to display a UCCS Single Page Mini Bio Card Media.
 *
 * Created by jsparks on 7/19/18
 */
#}

<article{{ attributes.addClass('col') }}>
    {{ title_suffix.contextual_links }}

    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% set contentAlignment = '' %}
        {% if 'right' in content.field_sp_mini_bio_alignment|render|striptags|trim|lower %}
            {% set contentAlignment = 'flex-row-reverse' %}
        {% endif %}

        {% set accentColor = '' %}
        {% if 'gold' in content.field_sp_mini_bio_accent_color|render|striptags|trim|lower %}
            {% set accentColor = 'uccs-gold-text' %}
        {% endif %}


        <div class="uccs-sp-mini-bio-card {{ contentAlignment }}">
            <div class="uccs-sp-mini-bio-card-container col-md">
                <div class="uccs-sp-mini-bio-card-title-container">
                    <div class="uccs-sp-mini-bio-card-title-block">
                        <div class="uccs-sp-mini-bio-card-image-container">
                            {{ content.field_media_image_7 }}
                        </div>
                        <div class="uccs-sp-mini-bio-card-title">
                            {{ name }}
                        </div>
                        <div class="uccs-sp-mini-bio-card-subtitle">
                            {{ content.field_sp_mini_bio_title }}
                        </div>

                    </div>
                </div>

                <div class="uccs-sp-mini-bio-card-body">
                    {{ content.field_sp_mini_bio_body }}
                </div>

            </div>

            <div class="uccs-sp-mini-bio-extra-container col-md">
                <div class="uccs-sp-mini-bio-extra-title {{ accentColor }}">
                    {{ content.field_sp_mini_bio_subtitle }}
                </div>
                <div class="uccs-sp-mini-bio-extra-body">
                    {{ content.field_sp_mini_bio_extended_body }}
                </div>

            </div>
        </div>
    {% endif %}
</article>
