{#
/**
 * Theme layout to display a UCCS News Story Image Media.
 *
 * Created by jsparks on 10/10/18
 */
#}


<article{{ attributes.addClass('uccs-news-story-image') }}>
    {{ title_suffix.contextual_links }}

    {% if content %}
        {{ content }}
    {% endif %}
</article>
