{#
/**
 * Theme layout to display a UCCS Single Page Duo Tone CTA Media.
 *
 * Created by jsparks on 7/10/18
 */
#}
{% set filterStyle = '' %}
{% set contentColor = 'uccs-duo-tone-content-gold' %}

{% if 'no filter' in content.field_duo_image_filter_color|render|striptags|trim|lower %}
    {% if 'grey' in content.field_duo_image_filter_color|render|striptags|trim|lower %}
        {% set contentColor = 'uccs-duo-tone-content-grey' %}
    {% elseif 'black' in content.field_duo_image_filter_color|render|striptags|trim|lower %}
        {% set contentColor = 'uccs-duo-tone-content-black' %}
    {% endif %}
{% else %}
    {% if content.field_duo_image_filter_color|render|striptags|trim == 'UCCS Gold' %}
        {% set filterStyle = 'uccs-duo-tone-gold-container' %}
    {% elseif content.field_duo_image_filter_color|render|striptags|trim == 'UCCS Wash Out' %}
        {% set filterStyle = 'uccs-duo-tone-washout-container' %}
        {% set contentColor = 'uccs-duo-tone-content-wash-out' %}
    {% elseif content.field_duo_image_filter_color|render|striptags|trim == 'UCCS Black' %}
        {% set filterStyle = 'uccs-duo-tone-black-container' %}
        {% set contentColor ="uccs-duo-tone-content-black" %}
    {% endif %}
{% endif %}

{%  set imageAlignmentStyle = '' %}
{% if  content.field_duo_image_alignment|render %}
    {% if content.field_duo_image_alignment|render|striptags|trim == 'Right' %}
        {% set imageAlignmentStyle = 'duotone-image-right' %}
    {% endif %}
{% endif %}
{% if content %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <article{{ attributes.addClass('uccs-duo-tone-cta-article') }}>
        <div class="container-fluid uccs-duo-tone-container">
            <div class="row uccs-duo-tone-content {{ imageAlignmentStyle }}">
                <div class="col-md-7 uccs-duo-tone-image-container {{ filterStyle }}">
                    {{ content.field_media_image_5 }}
                    <div class="uccs-duo-tone-icons">
                        {% for key, item in content.field_duo_icons if key|first != '#' %}
                            <i class="fa fa-3x {{ item|render|striptags|trim }}"></i>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-5 uccs-duo-tone-content-text {{ contentColor }}">

                    <div class="uccs-duo-tone-title">
                        {{ name }}
                    </div>
                    <div class="uccs-duo-tone-subtitle">
                        {{ content.field_duo_subtitle }}
                    </div>
                    <div class="uccs-duo-tone-body">
                        {{ content.field_duo_body }}
                    </div>
                    <div class="uccs-duo-tone-button">
                        {{ content.field_duo_link }}
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endif %}
