{#
/**
 * Theme layout to display a UCCS Single Page Icon Card CTA Media .
 *
 * Created by jsparks on 4/2/19
 */
#}
{#
/**
* @file
* Theme override to display a media item.
*
* Available variables:
* - name: Name of the media.
* - content: Media content.
*
* @see template_preprocess_media()
*
* @ingroup themeable
*/
#}
{% if content %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    {% set cardURL   = content.field_sp_icon_card_link[0]['#url'] %}
    {% set cardTitle = content.field_sp_icon_card_link[0]['#title'] %}
   <a class="uccs-icon-card-cta-link" href="{{ cardURL }}">
       <article{{ attributes.addClass('uccs-cta-card-article') }}>
           {{ title_suffix.contextual_links }}

           {{ content.field_media_image_12 }}

           <span class="uccs-sp-icon-card-cta-span" href="{{ cardURL }}">
               <span class="uccs-sp-icon-card-cta-icon-container">
                   <i class="uccs-sp-icon-card-cta-icon fa-3x {{ content.field_sp_icon_card_icon|render|striptags|trim }}"></i>
               </span>
               <p class="uccs-sp-icon-card-cta-title">{{ cardTitle }}</p>
           </span>

       </article>
   </a>
{% endif %}
