{#
/**
 * Theme layout to display a UCCS Call To Action Media.
 *
 * Created by jsparks on 6/14/18
 */
#}
{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <a href="{{ content.field_cta_link[0]['#url'] }}" class="uccs-jumbo-nav-cta-button-link">
        <div class="uccs-jumbo-nav-cta-button" data-iconcolor="{{ content.field_cta_icon_color|render|striptags|trim }}" data-bgcolor="{{ content.field_cta_bg_color|render|striptags|trim }}">
                {{ content|without('field_cta_icon_color', 'field_cta_bg_color', 'field_cta_link') }}
        </div>
        </a>
    {% endif %}
