{#
/**
 * Theme layout to display a UCCS News Story Byline Media.
 *
 * Created by jsparks on 10/10/18
 */
#}

<article{{ attributes.addClass('uccs-news-story-byline') }}>
    {{ title_suffix.contextual_links }}

    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-news-story-byline-row row">

            <div class="uccs-news-story-byline-main col-md">
                {% if content.thumbnail|render %}
                    <div class="uccs-news-story-byline-thumbnail">
                        {% if content.field_byline_homepage|render %}
                        <a href="{{ content.field_byline_homepage|render|striptags|trim }}">
                            {{ content.thumbnail }}
                        </a>
                        {% else %}
                            {{ content.thumbnail }}
                        {% endif %}
                    </div>
                {% endif %}

                <div class="uccs-news-story-byline-name">
                    {% if content.field_byline_homepage|render %}
                        <a href="{{ content.field_byline_homepage|render|striptags|trim }}">
                            {{ name }}
                        </a>
                    {% else %}
                        {{ name }}
                    {% endif %}
                </div>

            </div>
            <div class="uccs-news-story-byline-meta col-md">
                {% if content.field_byline_email|render %}
                    {{ content.field_byline_email }}
                {% endif %}

                {% if content.field_byline_social_links|render %}
                    {{ content.field_byline_social_links }}
                {% endif %}
            </div>
        </div>
    {% endif %}
</article>
