{#
/**
 * Theme layout to display a UCCS Single Page CTA Card Media .
 *
 * Created by jsparks on 7/9/18
 */
#}
{#
/**
* @file
* Theme override to display a media item.
*
* Available variables:
* - name: Name of the media.
* - content: Media content.
*
* @see template_preprocess_media()
*
* @ingroup themeable
*/
#}
{% if content %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <article{{ attributes.addClass('uccs-cta-card-article') }}>
        {{ title_suffix.contextual_links }}

        <a href="{{ content.field_cta_card_link[0]['#url'] }}" class="uccs-cta-card-link">
            <div class="uccs-cta-card-content">
                <span class="uccs-cta-card-icon">
                    {% if content.field_cta_card_icon|render %}
                        <i class="fa fa-2x {{ content.field_cta_card_icon|render|striptags|trim }}"></i>
                    {% else %}
                        <i class="fa fa-2x fas fa-book-open"></i>
                    {% endif %}
                </span>

                <span class="uccs-cta-card-title">
                    {{ name }}
                </span>

                {% if content.field_cta_card_sub_title|render %}
                    <span class="uccs-cta-card-subtitle">
                        {{ content.field_cta_card_sub_title }}
                    </span>
                {% endif %}

                {% if content.field_cta_card_body|render %}
                    <span class="uccs-cta-card-body">
                        {{ content.field_cta_card_body }}
                    </span>
                {% endif %}

                <button class="uccs-cta-card-button">
                    {{ content.field_cta_card_link[0]['#title'] }}
                </button>
            </div>
        </a>
    </article>
{% endif %}
