{#
/**
 * Theme layout to display a UCCS Single Page Knockout Media.
 *
 * Created by jsparks on 7/3/18
 */
#}

<article{{ attributes }}>
    {{ title_suffix.contextual_links }}

    {% if content %}
        {{ content }}
    {% endif %}
</article>
