{#
/**
 * Theme layout to display a UCCS Single Page Image Slider Media page.
 *
 * Created by jsparks on 7/11/18
 */
#}
<article{{ attributes.addClass('uccs-sp-image-slider-card') }}>
    {% if content %}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-media-image-slider-container">
            <div class="uccs-media-image-slider-count">
                00
            </div>
            <div class="uccs-media-image-slider-image">
                {{ content.field_media_image_6 }}
            </div>
            <div class="uccs-media-image-slider-title">
                {{ name }}
            </div>
            <div class="uccs-media-image-slider-body">
                {{ content.field_sp_image_slider_body }}
            </div>
        </div>
    {% endif %}
</article>