{#
/**
 * Theme layout to display a UCCS Event Contant Info Media.
 *
 * Created by jsparks on 10/17/18
 */
#}

{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
    <div class="uccs-event-contact-card">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% if content.thumbnail|render %}
            <div class="uccs-event-contact-img">
                {{ content.thumbnail }}
            </div>
        {% endif %}

        <div class="uccs-event-contact-label">
            CONTACT INFORMATION :
        </div>

        <div class="uccs-event-contact-name">
            {{ name }}
        </div>
        {% if content.field_event_contact_title|render %}
            <div class="uccs-event-contact-title">
                {{ content.field_event_contact_title }}
            </div>
        {% endif %}
        {% if content.field_event_contact_phone|render %}
            <div class="uccs-event-contact-phone">
                <i class="fal fa-phone"></i>
                {{ content.field_event_contact_phone }}
            </div>
        {% endif %}
        {% if content.field_event_contact_email|render %}
            <div class="uccs-event-contact-email">
                <i class="fal fa-envelope"></i>
                <a href="mailto: {{ content.field_event_contact_email|render|striptags|trim }}">
                    {{ content.field_event_contact_email }}
                </a>
            </div>
        {% endif %}

    </div>
{% endif %}
