{#
/**
 * Theme layout to display a UCCS UCCS News Story 2018 page.
 *
 * Created by jsparks on 10/10/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-news-page') }}

{%
    set classes = [
    'node',
    'uccs-news-story-node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>

    {% if content.field_news_hero_image|render %}
        <div class="uccs-news-story-hero-img-container container">
            {{ content.field_news_hero_image }}
        </div>
    {% endif %}

    <div class="uccs-news-story-content-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-news-story-row row">
            <div class="uccs-news-story-spacer col-md-2"></div>

            <div class="uccs-news-story-main col-md-8">

                {% if content.field_news_byline|render %}
                    <div class="uccs-news-story-byline">
                        {{ content.field_news_byline }}
                    </div>
                {% endif %}

                <div class="uccs-news-story-copy">
                    {% if content.field_news_publish_date|render %}
                        {% set pubDate = content.field_news_publish_date|render|striptags|split('-') %}
                        <span class="uccs-news-story-date">
                            {{ pubDate[0] }}
                        </span>
                    {% endif %}

                    {{ content.field_news_copy }}

                    {{ content.field_news_add_info_link }}
                </div>

            </div>

            <div class="uccs-news-story-spacer col-md-2"></div>
        </div>
    </div>

</article>