{#
/**
 * Theme layout to display a UCCS UCCS Event Page 2018.
 *
 * Created by jsparks on 10/16/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-event-page') }}

{%
    set classes = [
    'node',
    'uccs-event-node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>

    <div class="uccs-event-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-event-row row">
            <div class="uccs-event-data col-lg col-md">
                <div class="ucss-event-date-card">
                    <div class="uccs-event-date-card-icon">
                        <span class="fa-stack fa-2x">
                            <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                            <i class="fal fa-calendar-check fa-stack-1x"></i>
                        </span>
                    </div>
                    <div class="uccs-event-dates">

                        {% set startDate = content.field_event_start_date|render|striptags|trim|split('-') %}
                        {% set endDate   = content.field_event_end_date|render|striptags|trim|split('-') %}

                        {% if startDate[0] and endDate[0] %}
                            {% set startTime = startDate[1] %}
                            {% set endTime = endDate[1] %}

                            {% if startDate[0] == endDate[0] %}
                                <div class="uccs-event-time">
                                    <i class="fal fa-calendar-alt"></i> {{ startDate[0] }}<br>
                                    <i class="fal fa-clock"></i>{{ startTime|date('h:i A') }} - {{ endTime|date('h:i A') }}
                                </div>
                            {% else %}
                                <div class="uccs-event-time">
                                    From:  {{ startDate[0] }} - {{ startTime|date('h:i A') }}<br>
                                    Through: {{ endDate[0] }} - {{ endTime|date('h:i A') }}<br>
                                </div>
                            {% endif %}
                        {% elseif startDate[0] %}
                            {% set startTime = startDate[1] %}

                            <div class="uccs-event-time">
                                <i class="fal fa-calendar-alt"></i> {{ startDate[0] }}<br>
                                <i class="fal fa-clock"></i> {{ startTime|date('h:i A') }}
                            </div>
                        {% elseif endDate[0] %}
                            {% set endTime = endDate[1] %}

                            <div class="uccs-event-time">
                                Through:  {{ endDate[0] }} {{ endTime|date('h:i A') }}
                            </div>
                        {% endif %}
                    </div>
                    {% if content.field_event_location|render %}
                        <div class="uccs-event-location">
                            <div class="uccs-event-location-icon">
                                <i class="fal fa-map-marker-alt"></i>
                            </div>
                            {{ content.field_event_location }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="uccs-event-details col-lg col-md">
                {% if content.field_event_image|render %}
                    <div class="uccs-event-image">
                        {{ content.field_event_image }}
                    </div>
                {% endif %}

                <div class="uccs-event-body">
                    {{ content.body }}
                </div>
            </div>
            {% if content.field_event_contact_info|render %}
                <div class="uccs-event-contact col-lg">
                    {{ content.field_event_contact_info }}
                </div>
            {% endif %}

        </div>
    </div>
</article>