{#
/**
 * Theme layout to display a UCCS UCCS Person 2018 page.
 *
 * Created by jsparks on 8/20/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-person-page') }}
{{ attach_library('uccsbase_k18/uccs-match-height') }}

{% if content.field_person_dm_username|render %}
    {{ attach_library('uccsbase_k18/uccs-digital-measures') }}
{% endif %}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

{% set rowStyle = 'uccs-bio-row-style-row' %}
{% if 'card' in content.field_person_content_style|render|striptags|trim|lower %}
    {% set rowStyle = 'uccs-bio-row-style-card' %}
{% endif %}

<article{{ attributes.addClass(classes) }}>

    <div class="uccs-person-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-person-row row">
            {% if content.field_person_mug_shot|render %}
                <div class="uccs-person-mug-shot col-lg col-md-6">
                    {{ content.field_person_mug_shot }}
                </div>
            {% endif %}
            <div class="uccs-person-contact col-lg col-md-6">
                <div class="uccs-person-name">
                    <h1>{{ label }}</h1>
                </div>
                <div class="uccs-person-title">
                    {{ content.field_person_job_title }}
                </div>
                <div class="uccs-person-department">
                    {{ content.field_person_department }}
                </div>
                {% if content.field_person_phone|render %}
                    <div class="uccs-person-phone">
                        {{ content.field_person_phone }}
                    </div>
                {% endif %}
                {% if content.field_person_email|render %}
                    <div class="uccs-person-email">
                        {{ content.field_person_email }}
                    </div>
                {% endif %}
                {% if content.field_person_address|render %}
                    <div class="uccs-person-office">
                        {{ content.field_person_address }}
                    </div>
                {% endif %}
                {% if content.field_person_office_hours|render %}
                    <div class="uccs-person-office-hours">
                        {{ content.field_person_office_hours }}
                    </div>
                {% endif %}
                {% if content.field_person_website|render %}
                    <div class="uccs-person-website">
                        {{ content.field_person_website }}
                    </div>
                {% endif %}
                {% if content.field_person_social_media|render %}
                    <div class="uccs-person-social-media">
                        {{ content.field_person_social_media }}
                    </div>
                {% endif %}


            </div>
            {% if content.field_person_abstract|render %}

                {% set fontSize = 'uccs-font-size-48' %}
                {% if content.field_person_abstract|render|striptags|trim|length > 100 %}
                    {% set fontSize = 'uccs-font-size-40' %}
                {% endif %}
                {% if content.field_person_abstract|render|striptags|trim|length > 200 %}
                    {% set fontSize = 'uccs-font-size-32' %}
                {% endif %}

                <div class="uccs-person-abstract col-lg col-md-12 {{ fontSize }}">
                    <div class="uccs-sp-success-circle"></div>
                    {{ content.field_person_abstract }}
                </div>
            {% else %}
                <div class="uccs-person-abstract col-lg col-md-12"></div>
            {% endif %}
        </div>

        {% if content.field_person_dm_username|render %}
            <div class="uccs-digital-measures-row row">
                <script type="text/javascript">
                    document.addEventListener("DOMContentLoaded", function() {
                        window.dmWebProfiles.showProfile({
                            container: '#dm-web-profile-root',
                            clientId: '292a64f9-6c9c-5d01-8253-96fc693c12f9',
                            reportId: '1f217e46-1462-11e9-9082-49509476cfba',
                            username: '{{ content.field_person_dm_username|render|striptags|trim }}',
                            theme: 'tabbed'
                        });
                    });
                </script>
                <div id="dm-web-profile-root"></div>
            </div>
        {% endif %}

        <div class="uccs-person-row row {{ rowStyle }}">
            {{ content.field_person_bio_information }}
        </div>
    </div>
</article>