{#
/**
 * Theme layout to display a UCCS UCCS News View.
 *
 * Created by jsparks on 10/15/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-event-page') }}

{%
    set classes = [
    'node',
    'uccs-event-collection',
    'container',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="uccs-event-collection-container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-event-collection-row row">

            {% if content.field_event_image|render %}
                <div class="uccs-event-image col-4">
                    {{ content.field_event_image }}
                </div>
            {% else %}
                <div class="uccs-event-detail-copy col-4">
                    {{ content.body }}
                </div>
            {% endif %}

            <div class="uccs-event-details col-8">
                <div class="uccs-event-dates">
                    <a href="{{ url }}">
                        <h3 class="uccs-event-title">{{ label|render|striptags|trim }}</h3>
                    </a>

                    {% set startDate = content.field_event_start_date|render|striptags|trim|split('-') %}
                    {% if startDate[0] %}
                        {% set startTime = startDate[1] %}

                        <div class="uccs-event-time">
                            <i class="fal fa-calendar-alt"></i> {{ startDate[0] }}<br>
                            <i class="fal fa-clock"></i> {{ startTime|date('h:i A') }}
                        </div>
                    {% endif %}
                    {% if content.field_event_image|render %}
                        <div class="uccs-event-detail-copy">
                            {{ content.body }}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</article>