{#
/**
 * Theme layout to display a UCCS UCCS Department Directory 2018 page.
 *
 * Created by jsparks on 10/3/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-dept-page') }}

{%
    set classes = [
    'node',
    'uccs-department-page',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="uccs-dept-directory-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-dept-directory-body">
            <div class="uccs-dept-selector-container">
                <select id="uccs-department-selector"></select>
            </div>
            {% if content.body|render %}
                {{ content.body }}
            {% endif %}
        </div>

       {{ content.field_dept_staff_page }}

    </div>
</article>