{#
/**
 * Theme layout to display a UCCS Single Page 2018 page.
 *
 * Created by jsparks on 7/3/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-single-page-2018') }}
{{ attach_library('uccsbase_k18/uccs-match-height') }}
{{ attach_library('uccsbase_k18/uccs-lightbox') }}
{{ attach_library('uccsbase_k18/uccs-datatables') }}

{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>

    {{ content|render }}

</article>

<div class="duotone-filter-container">
    <svg class="duotone-filters" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <filter id="duotone_uccsGold">
                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0 0 0 1 0" result="gray">
                </feColorMatrix>

                <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
                    <feFuncR type="table" tableValues="0.133333 0.81176"></feFuncR>
                    <feFuncG type="table" tableValues="0.133333 0.71256"></feFuncG>
                    <feFuncB type="table" tableValues="0.133333 0.4823"></feFuncB>
                    <feFuncA type="table" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
            <filter id="duotone_uccsGrey">
                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0 0 0 1 0" result="gray">
                </feColorMatrix>

                <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
                    <feFuncR type="table" tableValues="0.133333 0.847"></feFuncR>
                    <feFuncG type="table" tableValues="0.133333 0.847"></feFuncG>
                    <feFuncB type="table" tableValues="0.133333 0.847"></feFuncB>
                    <feFuncA type="table" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
            <filter id="duotone_uccsWashOut">
                <feColorMatrix type="matrix" values="0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0.2126 0.7152 0.0722 0 0
            0 0 0 1 0" result="gray">
                </feColorMatrix>

                <feComponentTransfer color-interpolation-filters="sRGB" result="duotone">
                    <feFuncR type="table" tableValues="0.847 0.9529"></feFuncR>
                    <feFuncG type="table" tableValues="0.847 0.9529"></feFuncG>
                    <feFuncB type="table" tableValues="0.847 0.9529"></feFuncB>
                    <feFuncA type="table" tableValues="0 1"></feFuncA>
                </feComponentTransfer>
            </filter>
            <filter id="duotone_uccsBlur">
                <feGaussianBlur in="SourceGraphic" stdDeviation="5" />
            </filter>
        </defs>
    </svg>
</div>