{#
/**
 * Theme layout to display a UCCS UCCS News View.
 *
 * Created by jsparks on 10/15/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-news-page') }}

{%
    set classes = [
    'node',
    'uccs-news-collection',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="uccs-news-collection-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-news-collection-row row">

            {% if content.field_news_hero_image|render %}

                <div class="uccs-news-collection-story-details col">
                    <div class="uccs-news-collection-details row">
                        <div class="uccs-news-collection-details col-md">
                            <div class="uccs-news-collection-title">
                                <a href="{{ url }}">
                                    <h2 class="uccs-news-collection-title-header">
                                        {{ label|render|striptags|trim }}
                                    </h2>
                                </a>
                            </div>
                            <div class="uccs-news-collection-abstract">
                                {{ content.field_news_abstract }}
                            </div>
                            {% if content.field_news_publish_date|render %}
                                {% set pubDate = content.field_news_publish_date|render|striptags|split('-') %}
                                <div class="uccs-news-collection-date">
                                    {{ pubDate[0] }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="uccs-news-collection-thumbnail col-md">
                            {{ content.field_news_hero_image }}
                        </div>
                    </div>
                </div>

            {% else %}

                <div class="uccs-news-collection-story-details col">
                    <div class="uccs-news-collection-details row">
                        <div class="uccs-news-collection-details col-md">
                            <div class="uccs-news-collection-title">
                                <a href="{{ url }}">
                                    <h2 class="uccs-news-collection-title-header">
                                        {{ label|render|striptags|trim }}
                                    </h2>
                                </a>
                            </div>
                            {% if content.field_news_publish_date|render %}
                                {% set pubDate = content.field_news_publish_date|render|striptags|split('-') %}
                                <div class="uccs-news-collection-date">
                                    {{ pubDate[0] }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="uccs-news-collection-abstract col-md">
                            {{ content.field_news_abstract }}
                        </div>
                    </div>
                </div>

            {% endif %}

        </div>
    </div>
</article>