{#
/**
 * Theme layout to display a UCCS UCCS Person 2018 page.
 *
 * Created by jsparks on 9/07/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-staff-page') }}
{{ attach_library('uccsbase_k18/uccs-match-height') }}

{%
    set classes = [
    'node',
    'uccs-staff-page',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="uccs-staff-page-container container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div id="dept-{{ label|render|striptags|trim|clean_id }}" class="uccs-dept-page-title">
            <a href="{{ url }}">
                <h2>{{ label|render|striptags|trim }}</h2>
            </a>
        </div>

        {% if content.body|render %}
            <div class="uccs-staff-page-body">
                {{ content.body }}
            </div>
        {% endif %}

        <div class="uccs-staff-cards row">
            <div class="uccs-staff-gold-accent"></div>
            {{ content.field_staff_members }}
        </div>
    </div>
</article>