{#
/**
 * Theme layout to display a UCCS UCCS Person 2018 page.
 *
 * Created by jsparks on 9/07/18
 */
#}

{{ attach_library('uccsbase_k18/uccs-person-page') }}

{%
    set classes = [
    'node',
    'col-lg-3 col-md-4 col-sm-6',
    'uccs-person-page-teaser match-height',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}

<article{{ attributes.addClass(classes) }}>
    <div class="uccs-person-container">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-person-row uccs-person-teaser row">
            <div class="uccs-person-card-header">
                {% if content.field_person_mug_shot|render %}
                    <div class="uccs-person-mug-shot col-12">
                        <a href="{{ url }}">
                            {{ content.field_person_mug_shot }}
                        </a>
                    </div>
                {% endif %}

                <div class="uccs-person-name">
                    <a href="{{ url }}"><h1>{{ label }}</h1></a>
                </div>
                <div class="uccs-person-title">
                    {{ content.field_person_job_title }}
                </div>

            </div>

            <div class="uccs-person-contact col-12">
                {% if content.field_person_phone|render %}
                    <div class="uccs-person-phone">
                        {{ content.field_person_phone }}
                    </div>
                {% endif %}
                {% if content.field_person_email|render %}
                    <div class="uccs-person-email">
                        {{ content.field_person_email }}
                    </div>
                {% endif %}
                {% if content.field_person_address|render or content.field_person_office_hours|render  %}
                    <div class="uccs-person-office-hours">
                        <div class="uccs-person-office-icon col-2">
                            <i class="fa fal fa-clock"></i>
                        </div>
                        <div class="uccs-person-office-details col-10">
                            {{ content.field_person_address }}
                            {{ content.field_person_office_hours }}
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
</article>