{#
/**
 * Theme layout to display a UCCS Single Page LIst Item Paragraph.
 *
 * Created by jsparks on 8/6/18
 */
#}

{# dummy variable to render the full content to ensure that cache tags are set #}
{% set cache_content = content|render %}

<li class="uccs-sp-list-item-row" {{ attributes }}>
    <div class="uccs-sp-list-link">
        <div class="uccs-sp-link-title">
            {{ content.field_sp_list_item_title }}
            <span class="uccs-sp-link-title-arrow">
                <i class="fa fal fa-arrow-right"></i>
            </span>
        </div>

    </div>
    <div class="uccs-sp-list-content">
        {% if content.field_sp_list_item_content_title|render %}
            <div class="uccs-sp-list-item-title">
                {{ content.field_sp_list_item_content_title }}
            </div>
        {% endif %}
        {% if content.field_sp_list_item_body|render %}
            <div class="uccs-sp-list-item-body">
                {{ content.field_sp_list_item_body }}
            </div>
        {% endif %}
        {% if content.field_sp_list_item_link_button|render %}
            <div class="uccs-sp-list-item-button">
                {{ content.field_sp_list_item_link_button }}
            </div>
        {% endif %}
    </div>
</li>