{#
/**
 * Theme layout to display a UCCS Single Page Accordion Row Paragraph.
 *
 * Created by jsparks on 8/2/18
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    <div id="accordion-{{ content.field_sp_collapse_question|render|striptags|trim|clean_id }}" {{ attributes.addClass(classes) }}>
        {% block content %}
            {# dummy variable to render the full content to ensure that cache tags are set #}
            {% set cache_content = content|render %}

            <div class="uccs-sp-accordion-row-container container">
                <div class="uccs-sp-accordion-content-top row">
                    <div class="uccs-sp-accordion-header col-10">
                        <span class="uccs-sp-accordion-title">
                            {{ content.field_sp_collapse_subject }}
                        </span>
                        <span class="uccs-sp-accordion-question">
                            {{ content.field_sp_collapse_question }}
                        </span>
                    </div>
                    <div class="uccs-sp-accordion-toggle col-2">
                        <i class="fa fal fa-3x fa-plus"></i>
                    </div>
                </div>
                <div class="uccs-sp-accordion-footer row">
                    <div class="uccs-accordion-footer-hr col-12">
                        <hr>
                    </div>
                    <div class="uccs-sp-accordion-answer col-10">
                        {{ content.field_sp_collapse_answer }}
                    </div>
                    <div class="uccs-sp-accordion-spacer col-2">

                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}