{#
/**
* Theme layout to display a UCCS News Story Content Row Paragraph.
*
* Created by jsparks on 10/12/18
*/
#}

{% set imgLocation = '' %}

{% if content.field_news_row_image|render %}
    {% set imgLocation = 'top' %}

    {% if 'bottom' in content.field_news_row_image_orientation|render|striptags|lower %}
        {% set imgLocation = 'top' %}
    {% elseif 'left' in content.field_news_row_image_orientation|render|striptags|lower %}
        {% set imgLocation = 'left' %}
    {% elseif 'right' in content.field_news_row_image_orientation|render|striptags|lower %}
        {% set imgLocation = 'right' %}
    {% endif %}

{% endif %}

{% if content %}
<article{{ attributes.addClass('uccs-news-story-content-row-article') }}>
    {{ title_suffix.contextual_links }}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div class="uccs-news-story-content-row">

        {% if imgLocation %}
            {% if imgLocation == 'top' %}
                {{ content.field_news_row_image }}
                {{ content.field_news_row_copy }}
            {% elseif imgLocation == 'bottom' %}
                {{ content.field_news_row_copy }}
                {{ content.field_news_row_image }}
            {% elseif imgLocation == 'left' %}
                <div class="uccs-sp-news-row-subrow row">
                    <div class="uccs-news-story-content-image uccs-news-story-content-image-left col-lg">
                        {{ content.field_news_row_image }}
                    </div>
                    <div class="col-lg">
                        {{ content.field_news_row_copy }}
                    </div>
                </div>

            {% elseif imgLocation == 'right' %}
                <div class="uccs-sp-news-row-subrow row">
                    <div class="col-lg">
                        {{ content.field_news_row_copy }}
                    </div>
                    <div class="uccs-news-story-content-image uccs-news-story-content-image-left col-lg">
                        {{ content.field_news_row_image }}
                    </div>
                </div>
            {% else %}
                {% if content.field_news_row_image|render %}
                    {{ content.field_news_row_image }}
                {% endif %}
                {% if content.field_news_row_copy|render %}
                    {{ content.field_news_row_copy }}
                {% endif %}
            {% endif %}

        {% else %}
            {{ content.field_news_row_copy }}
        {% endif %}

    </div>
</article>
{% endif %}