{#
/**
 * Theme layout to display a UCCS Single Page Icon CTA Row.
 *
 * Created by jsparks on 3/19/19
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set imageFilter = '' %}
{% set fontColor = '' %}
{% set detailColor = '' %}
{% if content.field_sp_cta_icon_bg_filter|render %}
    {% if 'gold' in content.field_sp_cta_icon_bg_filter|render|striptags|trim|lower  %}
        {% set imageFilter = 'uccs-duo-tone-gold' %}
        {% set fontColor = 'uccs-white-text' %}
    {% elseif 'black' in content.field_sp_cta_icon_bg_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-black' %}
        {% set fontColor = 'uccs-white-text' %}
    {% elseif 'blur' in content.field_sp_cta_icon_bg_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-blur' %}
    {% elseif 'wash out' in content.field_sp_cta_icon_bg_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-wash-out' %}
    {% elseif 'none' in content.field_sp_cta_icon_bg_filter|render|striptags|trim|lower %}
        {% set detailColor = 'uccs-no-img-filter' %}
    {% endif %}
{% else %}
    {% set fontColor = 'uccs-white-background' %}
{% endif %}

{% block paragraph %}
    <div {{ attributes.addClass(classes) }}>
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% if content.field_sp_icon_cta_row_bg_image|render %}
            <div class="uccs-cta-icon-row-bg {{ imageFilter }}">
                {{ content.field_sp_icon_cta_row_bg_image }}
            </div>

            <div class="uccs-cta-icons container">
                <div class="uccs-cta-icons-row row">
                    {{ content.field_sp_cta_icons}}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock paragraph %}