{#
/**
 * Theme layout to display a UCCS Single Page List Paragraph.
 *
 * Created by jsparks on 8/6/18
 */
#}
{%
    set classes = [
    'paragraph',
    'uccs-sp-list-paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set contentAlignment = '' %}
{%  if 'right' in content.field_sp_list_alignment|render|striptags|trim|lower %}
    {% set contentAlignment = 'flex-row-reverse' %}
{% endif %}

{% set imageFilter = '' %}
{% set fontColor = '' %}
{% set detailColor = '' %}
{% if content.field_sp_list_image|render %}
    {% if 'gold' in content.field_sp_link_image_filter|render|striptags|trim|lower  %}
        {% set imageFilter = 'uccs-duo-tone-gold' %}
        {% set fontColor = 'uccs-white-text' %}
    {% elseif 'grey' in content.field_sp_link_image_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-black' %}
        {% set fontColor = 'uccs-white-text' %}
    {% elseif 'washout' in content.field_sp_link_image_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-wash-out' %}
    {% elseif 'none' in content.field_sp_link_image_filter|render|striptags|trim|lower %}
        {% set detailColor = 'uccs-no-img-filter' %}
    {% endif %}
{% else %}
    {% set fontColor = 'uccs-white-background' %}
{% endif %}

{% set ulColor = '' %}
{% if 'dark' in content.field_sp_list_ul_color|render|striptags|trim|lower %}
    {% set ulColor = 'uccs-dark-ul' %}
{% endif %}
{% if 'light' in content.field_sp_list_ul_color|render|striptags|trim|lower and 'washout' in content.field_sp_link_image_filter|render|striptags|trim|lower == false %}
    {% set ulColor = 'uccs-semi-opaque-ul' %}
{% endif %}

{% set accentColor = '' %}
{% if 'gold' in content.field_sp_list_color_block|render|striptags|trim|lower  %}
    {% set accentColor = 'uccs-sp-list-accent-gold' %}
{% elseif 'grey' in content.field_sp_list_color_block|render|striptags|trim|lower %}
    {% set accentColor = 'uccs-sp-list-accent-grey' %}
{% endif %}

{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div{{ attributes.addClass(classes) }}>

        {% if content.field_sp_list_image|render %}
            <div class="{{ imageFilter }}">
                {{ content.field_sp_list_image }}
            </div>
        {% elseif accentColor is not empty %}
            <div class="uccs-sp-list-accent-block {{ accentColor }}"></div>
        {% endif %}

        {% block content %}
            <div class="uccs-sp-row-container container {{ fontColor }}">
                <div class="uccs-sp-row-row row">

                    <div class="col-md col-sm-12 uccs-sp-row-title">
                        <h2>{{ content.field_sp_list_title }}</h2>
                    </div>
                    {% if content.field_sp_list_link|render %}
                        <div class="col-md col-sm-12 uccs-sp-row-link">
                            <hr>
                            {{ content.field_sp_list_link }}
                            <span class="fa-stack uccs-jumbo-fa-layer">
                                <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-md"></div>
                    {% endif %}

                </div>
            </div>
            <div class="uccs-sp-list-content-container container {{ fontColor }}">
                <div class="uccs-sp-list-content-row row {{ contentAlignment }} {{ detailColor }}">
                    <div class="uccs-sp-list-ul-container col-md {{ ulColor }}">
                        <div class="uccs-sp-list-ul-header">
                            {% if content.field_sp_list_ul_sub_title|render %}
                                <span class="uccs-sp-list-ul-header-sub-title">
                                    {{ content.field_sp_list_ul_sub_title }}
                                </span>
                            {% endif %}

                            {% if content.field_sp_list_ul_title|render %}
                                <span class="uccs-sp-list-ul-header-title">
                                    {{ content.field_sp_list_ul_title }}
                                </span>
                            {% endif %}

                            {% if content.field_sp_list_ul_instruction|render %}
                                <span class="uccs-sp-list-ul-header-instruction">
                                    {{ content.field_sp_list_ul_instruction }}
                                </span>
                            {% endif %}

                        </div>
                        {{ content.field_sp_list_items }}
                    </div>
                    <div class="uccs-sp-list-details col-md">
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}