{#
/**
 * Theme layout to display a UCCS Single Page Section Header Paragraph page.
 *
 * Created by jsparks on 7/27/18
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="uccs-sp-sect-header-container uccs-sp-row-container container">
                {% if content.field_sp_sect_header_icon|render or content.field_sp_sect_header_cta_link|render or content.field_sp_sect_header_hero_text|render %}
                <div class="uccs-sp-sect-header-row row">
                    {% if content.field_sp_sect_header_icon|render %}

                        {% set iconColor = 'uccs-black-text' %}
                        {% if 'gold' in content.field_sp_sect_header_icon_color|render|striptags|trim|lower %}
                            {% set iconColor = 'uccs-gold-text' %}
                        {% elseif 'grey' in content.field_sp_sect_header_icon_color|render|striptags|trim|lower %}
                            {% set iconColor = 'uccs-grey-text' %}
                        {% endif %}
                        <div class="uccs-sp-sect-header-icon col-12 {{ iconColor }}">
                            <i class="fa fa-7x {{ content.field_sp_sect_header_icon|render|striptags|trim }}"></i>
                        </div>
                    {% endif %}

                    {% if content.field_sp_sect_header_cta_link|render %}
                        <div class="uccs-sp-sect-header-cta-link col-12">
                            {{ content.field_sp_sect_header_cta_link }}
                        </div>
                    {% endif %}

                    {% if content.field_sp_sect_header_hero_text|render %}
                        <div class="uccs-sp-sect-header-block-text uccs-liberator-heavy col-12">
                            {{ content.field_sp_sect_header_hero_text }}
                        </div>
                    {% endif %}
                </div>
                {% endif %}

                <div class="uccs-sp-sect-header-row uccs-sp-row-row row">
                    <div class="col-md-5 col-sm-12 uccs-sp-row-title">
                        <h2 class="uccs-black-text">{{ content.field_sp_section_header_title }}</h2>
                    </div>
                    <div class="col-md-2"></div>
                    {% if content.field_sp_sect_header_sect_link|render %}
                        <div class="col-md col-sm-12 uccs-sp-row-link">
                            <hr>
                            {{ content.field_sp_sect_header_sect_link }}
                            <span class="fa-stack uccs-jumbo-fa-layer">
                                <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-md-5 col-sm-12 uccs-sp-row-link-empty"></div>
                    {% endif %}

                </div>
                {% if content.field_sp_sect_header_body_copy|render %}
                    <div class="uccs-sp-sect-header-row uccs-sp-row-row row">
                        <div class="uccs-sp-sect-header-body-copy col-md-9">
                            {{ content.field_sp_sect_header_body_copy }}
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                {% endif %}
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}