{#
/**
 * Theme layout to display a UCCS Pragraph -- Single Page Icon CTA page.
 *
 * Created by jsparks on 3/20/19
 */
#}

<div class="col-xl col-lg-4 col-md-6 col-sm-12 uccs-sp-cta-icon-icon">
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    {% set linkURL  = content.field_sp_icon_cta_link.0['#url'] %}
    {% set linkText = content.field_sp_icon_cta_link.0['#title'] %}

    {% if content.field_sp_icon_cta|render %}
        <a class="uccs-sp-icon-cta-link-a" href="{{ linkURL }}">
            <div class="uccs-sp-icon-cta-link">
                <i class="{{ content.field_sp_icon_cta|render|striptags|trim }} fa-4x uccs-sp-icon-cta-fa"></i>
            </div>
            <span class="uccs-sp-icon-cta-text">{{ linkText}}</span>
        </a>

    {% endif %}
</div>