{#
/**
 * Theme layout to display a UCCS Single Page Custom Row Paragraph.
 *
 * Created by jsparks on 7/12/18
 */
#}

{%
    set classes = [
    'paragraph',
    'uccs-sp-custom-row',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set customContainer = 'container' %}
{% if 'on' == content.field_sp_custom_edge_to_edge|render|striptags|trim|lower  %}
    {% set customContainer = '' %}
{% endif %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {# dummy variable to render the full content to ensure that cache tags are set #}
            {% set cache_content = content|render %}

            <div class="uccs-sp-row-container container">
                <div class="uccs-sp-row-row row">
                    {% if content.field_sp_custom_title|render %}
                    <div class="col-md col-sm-12 uccs-sp-row-title">
                        <h2>{{ content.field_sp_custom_title }}</h2>
                    </div>
                    {% endif %}
                    {% if content.field_sp_custom_link|render %}
                        <div class="col-md col-sm-12 uccs-sp-row-link">
                            <hr>
                            {{ content.field_sp_custom_link }}
                            <span class="fa-stack uccs-jumbo-fa-layer">
                                <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-md"></div>
                    {% endif %}
                </div>
            </div>
            <div class="uccs-sp_custom-content {{ customContainer }}">
                {{ content.field_sp_custom_body }}
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}