{#
/**
 * Theme layout to display a UCCS Single Page - Webform Paragraph Row.
 *
 * Created by jsparks on 10/25/18
 */
#}


{%
    set classes = [
    'paragraph',
    'uccs-sp-webform',
    'container',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div {{ attributes.addClass(classes) }}>
        <div class="uccs-sp-webform-row row justify-content-md-center">
            <div class="uccs-sp-webform-col col-md-auto">
                {% block content %}
                    {{ content }}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock paragraph %}