{#
/**
 * Theme layout to display a UCCS Singe Page Bullet List Item Paragraph.
 *
 * Created by jsparks on 8/10/18
 */
#}

<li class="uccs-sp-bullet-list-item" {{ attributes }}>
    <div class="uccs-sp-bullet-list-item-content">
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% if content.field_sp_bull_list_item_icon|render %}
            <span class="uccs-sp-bullet-list-item-icon">
                <i class="fa fa-2x {{ content.field_sp_bull_list_item_icon|render|striptags|trim }}"></i>
            </span>
        {% endif %}

        {% if content.field_sp_bull_list_item_title|render %}
            <span class="uccs-sp-bullet-list-item-title">{{ content.field_sp_bull_list_item_title }}</span>
        {% endif %}

        {% if content.field_sp_bull_list_item_body|render %}
            <span class="uccs-sp-bullet-list-item-body">{{ content.field_sp_bull_list_item_body }}</span>
        {% endif %}
    </div>
</li>