{#
/**
 * Theme layout to display a UCCS Single Page Image Slider Paragraph page.
 *
 * Created by jsparks on 7/11/18
 */
#}

{% set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
] %}
{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="uccs-sp-row-container container">
                <div class="uccs-sp-row-row row">
                    <div class="col-md col-sm-12 uccs-sp-row-title">
                        <h2 class="uccs-gold-text">{{ content.field_sp_image_slider_title }}</h2>
                    </div>
                    {% if content.field_sp_image_slider_link|render %}
                        <div class="col-md col-sm-12 uccs-sp-row-link">
                            <hr>
                            {{ content.field_sp_image_slider_link }}
                            <span class="fa-stack uccs-jumbo-fa-layer">
                                <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-md"></div>
                    {% endif %}
                </div>
            </div>

            <div class="uccs-sp-image-slider-content">
                {{ content.field_sp_slider_background_image }}
                <a href="#" class="sliderLeft-button">
                    <div class="uccs-sp-image-slider-control uccs-sp-image-slider-control-left">
                        <i class="fas fa-arrow-left"></i>
                    </div>
                </a>
                <a href="#" class="sliderRight-button">
                    <div class="uccs-sp-image-slider-control uccs-sp-image-slider-control-right">
                        <i class="fas fa-arrow-right"></i>
                    </div>
                </a>
                <div id="uccs-slider-{{ content.field_sp_image_slider_title|render|striptags|trim|clean_id }}" class="uccs-sp-image-slider-slider">
                    {{ content.field_sp_image_slider }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}