{#
/**
 * Theme layout to display a UCCS Icon Cards Row CTA -- Paragraph.
 *
 * Created by jsparks on 2019-04-02
 */
#}

{%
    set classes = [
    'paragraph',
    'row',
    'uccs-sp-icon-card-cta-paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div {{ attributes.addClass(classes) }}>
        {{ content }}
    </div>
{% endblock paragraph %}