{#
/**
 * Theme layout to display a UCCS Single Page Hero Paragraph.
 *
 * Created by jsparks on 7/3/18
 */
#}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {{ content }}
        {% endblock %}
    </div>
{% endblock paragraph %}