{#
/**
 * Theme layout to display a UCCS Single Page Jumbo Button Paragraph.
 *
 * Created by jsparks on 8/7/18
 */
#}

{%
    set classes = [
    'paragraph',
    'uccs-sp-jumbo-button',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set bgColor = 'uccs-sp-color-block-gold' %}
{% if 'black' in content.field_sp_jumbo_button_color|render|striptags|trim|lower %}
    {% set bgColor = 'uccs-sp-color-block-black' %}
{% elseif 'grey' in content.field_sp_jumbo_button_color|render|striptags|trim|lower %}
    {% set bgColor = 'uccs-sp-color-block-grey' %}
{% endif %}

{% set imageFilter = '' %}
{% if content.field_sp_jumbo_button_image|render %}
    {% if 'gold' in content.field_sp_jumbo_button_img_filter|render|striptags|trim|lower  %}
        {% set imageFilter = 'uccs-duo-tone-gold' %}
    {% elseif 'grey' in content.field_sp_jumbo_button_img_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-black' %}
    {% elseif 'washout' in content.field_sp_jumbo_button_img_filter|render|striptags|trim|lower %}
        {% set imageFilter = 'uccs-duo-tone-wash-out' %}
    {% endif %}
{% endif %}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {# dummy variable to render the full content to ensure that cache tags are set #}
            {% set cache_content = content|render %}

            <div class="uccs-sp-jumbo-buton-container container">
                <div class="uccs-sp-jumbo-button-row row {{ bgColor }}">
                    <div class="uccs-sp-jumbo-button-title col-md">
                        <h2>{{ content.field_sp_jumbo_button_title }}</h2>
                    </div>
                    <div class="uccs-sp-jumbo-button-link-col col-md">
                        {% if content.field_sp_jumbo_button_image|render %}
                            <div class="uccs-sp-jumbo-button-img-container {{ imageFilter }}">
                                {{ content.field_sp_jumbo_button_image }}
                            </div>
                        {% endif %}
                        <div class="uccs-sp-jumbo-button-link">
                            {{ content.field_sp_jumbo_button_link }}
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}