{#
/**
 * Theme layout to display a UCCS Single Page Cards Row Paragraph.
 *
 * Created by jsparks on 7/6/18
 */
#}

{% set rowStyle = 'simple' %}
{% if content.field_cta_cards_style|render %}
    {% set rowStyle = content.field_cta_cards_style|render|striptags|trim|lower %}
{% endif %}

{% set rowStyleClass = 'simple' %}
{% if rowStyle != 'simple' %}
    {% set rowStyleClass = 'expanded' %}
{% endif %}

{%
    set classes = [
    'paragraph',
    'uccs-cta-cards-style-' ~ rowStyleClass|clean_class,
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            {# dummy variable to render the full content to ensure that cache tags are set #}
            {% set cache_content = content|render %}

            <span class="uccs-cta-cards-spacer">&nbsp;</span>
            {% if 'expanded' in rowStyle %}

                {% if 'gold' in rowStyle %}
                    <div class="uccs-cta-cards-row-color-box uccs-cta-cards-row-gold-box">
                        {{ content.field_cta_cards_section_icon }}
                    </div>
                    <div class="uccs-cta-cards-row-accent">
                        <div class="uccs-cta-cards-row-accent-color"></div>
                        <div class="uccs-cta-cards-row-highlight">
                            <div class="uccs-cta-cards-row-highlight-color"></div>

                            <div class="uccs-cta-cards-content-container container">
                                <h2 class="uccs-cta-cards-title">
                                    {{ content.field_cta_cards_section_title }}
                                </h2>

                                <div class="row uccs-cta-cards-container {{ rowStyle|clean_class }}">
                                    {{ content.field_cta_cards }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% elseif 'dark' in rowStyle %}
                    <div class="uccs-cta-cards-row-color-box uccs-cta-cards-row-dark-box">
                        {{ content.field_cta_cards_section_icon }}
                    </div>
                    <div class="uccs-cta-cards-row-accent">
                        <div class="uccs-cta-cards-row-highlight-color-dark"></div>
                        <div class="uccs-cta-cards-row-accent-color uccs-cta-cards-row-accent-color-dark"></div>
                        <div class="uccs-cta-cards-row-highlight">

                            <div class="uccs-cta-cards-content-container container">
                                <h2 class="uccs-cta-cards-title-white">
                                    {{ content.field_cta_cards_section_title }}
                                </h2>

                                <div class="row uccs-cta-cards-container {{ rowStyle|clean_class }}">
                                    {{ content.field_cta_cards }}
                                </div>
                            </div>
                        </div>
                    </div>

                {% else %}
                    <div class="uccs-cta-cards-row-color-box uccs-cta-cards-row-grey-box">
                        {{ content.field_cta_cards_section_icon }}
                    </div>
                    <div class="uccs-cta-cards-row-accent">
                        <div class="uccs-cta-cards-row-accent-color"></div>
                        <div class="uccs-cta-cards-row-highlight">
                            <div class="uccs-cta-cards-row-highlight-color"></div>

                            <div class="uccs-cta-cards-content-container container">
                                <h2 class="uccs-cta-cards-title">
                                    {{ content.field_cta_cards_section_title }}
                                </h2>

                                <div class="row uccs-cta-cards-container {{ rowStyle|clean_class }}">
                                    {{ content.field_cta_cards }}
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}
            {% else %}
                <div class="uccs-cta-cards-content-container container">
                    <h2 class="uccs-cta-cards-title">
                        {{ content.field_cta_cards_section_title }}
                    </h2>

                    <div class="row uccs-cta-cards-container">

                        {{ content.field_cta_cards }}
                    </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
{% endblock paragraph %}