{#
/**
* Theme layout to display a UCCS News Story Content Row Paragraph.
*
* Created by jsparks on 10/12/18
*/
#}

{% if content %}
    {% set accentStyle = '' %}

    {% if content.field_news_accent_style|render %}
        {% if 'blockquote' in content.field_news_accent_style|render|striptags|trim|lower %}
            {% set accentStyle = 'uccs-news-accent-blockquote' %}
        {% elseif 'list' in content.field_news_accent_style|render|striptags|trim|lower %}
            {% set accentStyle = 'uccs-news-accent-list' %}
        {% elseif 'card' in content.field_news_accent_style|render|striptags|trim|lower %}
            {% set accentStyle = 'uccs-news-accent-card' %}
        {% endif %}

    {% endif %}


    <article{{ attributes.addClass('uccs-news-story-accent-row-article') }}>
        {{ title_suffix.contextual_links }}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        <div class="uccs-news-story-accent-row {{ accentStyle }}">
            {{ content.field_news_accent_copy }}
        </div>
    </article>
{% endif %}