{#
/**
 * Theme layout to display a UCCS Single Page Success Stories Row.
 *
 * Created by jsparks on 7/19/18
 */
#}

{%
    set classes = [
    'paragraph',
    'uccs-sp-success-row',
    'container',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% block paragraph %}
    {# dummy variable to render the full content to ensure that cache tags are set #}
    {% set cache_content = content|render %}

    <div class="uccs-sp-success-container">
    {% if 'uccs gold' in content.field_sp_success_accent_style|render|striptags|trim|lower %}
        <div class="uccs-sp-success-accent uccs-sp-success-accent-gold"></div>
    {% elseif 'light grey' in content.field_sp_success_accent_style|render|striptags|trim|lower %}
        <div class="uccs-sp-success-accent uccs-sp-success-accent-grey"></div>
    {% endif %}
    <div{{ attributes.addClass(classes) }}>
        {% block content %}
            <div class="uccs-sp-row-container container">
                <div class="uccs-sp-row-row row">
                    <div class="col-md col-sm-12 uccs-sp-row-title">
                        {% if content.field_sp_success_title|render %}
                            <h2>{{ content.field_sp_success_title }}</h2>
                        {% endif %}
                    </div>
                    {% if content.field_sp_success_link|render %}
                        <div class="col-md col-sm-12 uccs-sp-row-link">
                            <hr>
                            {{ content.field_sp_success_link }}
                            <span class="fa-stack uccs-jumbo-fa-layer">
                                <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                            </span>
                        </div>
                    {% else %}
                        <div class="col-md"></div>
                    {% endif %}
                </div>
            </div>
            <div class="uccs-sp_success-content">
                <div class="uccs-sp-success-circle"></div>

                {% set multiCard = 'uccs-sp-success-single-card' %}
                {% if content.field_sp_success_mini_bio_cards['#items']|length > 1 %}
                    {% set multiCard = 'uccs-sp-success-cards' %}
                {% endif %}

                <div class="{{ multiCard }} row">
                    {{ content.field_sp_success_mini_bio_cards }}
                </div>
            </div>
        {% endblock %}
    </div>

    </div>

{% endblock paragraph %}