{#
/**
 * Theme layout to display a UCCS Singe Page Bullet List Paragraph.
 *
 * Created by jsparks on 8/10/18
 */
#}

{%
    set classes = [
    'paragraph',
    'uccs-sp-bullet-list',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

{% set listStyle = '' %}
{% if 'icons' in content.field_sp_bullet_list_style|render|striptags|trim|lower %}
    {% set listStyle = 'uccs-bullet-list-icons' %}
{% elseif 'ordinal' in content.field_sp_bullet_list_style|render|striptags|trim|lower %}
    {% set listStyle = 'uccs-bullet-list-ordinal' %}
{% elseif 'both' in content.field_sp_bullet_list_style|render|striptags|trim|lower %}
    {% set listStyle = 'uccs-bullet-list-both' %}
{% endif %}

{% set bgColor = 'uccs-bullet-list-dark' %}
{% if 'light' in content.field_sp_bull_list_bg_color|render|striptags|trim|lower %}
    {% set bgColor = 'uccs-bullet-list-light' %}
{% endif %}

{% block paragraph %}
    <div{{ attributes.addClass(classes, bgColor) }}>
        {% block content %}
            {# dummy variable to render the full content to ensure that cache tags are set #}
            {% set cache_content = content|render %}

            <div class="uccs-sp-bullet-list-container container">
                <div class="uccs-sp-bullet-list-header-row row">
                    <div class="uccs-sp-bullet-list-header-title col-9">
                        <h2>{{ content.field_sp_bullet_list_title }}</h2>
                    </div>
                    {% if content.field_sp_bullet_list_header_icon|render %}
                        <div class="uccs-sp-bullet-list-header-icon col-3">
                            <i class="fa fa-8x {{ content.field_sp_bullet_list_header_icon|render|striptags|trim }}"></i>
                        </div>
                    {% endif %}
                </div>
                <div class="uccs-sp-bullet-list-row row">
                    <div class="uccs-sp-bullet-list-col {{ listStyle }} col">
                        {{ content.field_sp_bullet_list_items }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}