{#
/**
 * Theme layout to display a UCCS Person Biographical Information Paragraph page.
 *
 * Created by jsparks on 8/20/18
 */
#}

{%
    set classes = [
    'paragraph',
    'uccs-bio-card-content',
    'match-height',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

        {% block content %}
            <h3>{{ content.field_persion_bio_description }}</h3>
            {{ content.field_person_bio_content }}
        {% endblock %}
    </div>
{% endblock paragraph %}