{#
/**
 * Theme layout to display a UCCS Single Page Content Feed Paragraph.
 *
 * Created by jsparks on 8/14/18
 */
#}

{% if content %}
    <article{{ attributes.addClass('uccs-cta-card-article') }}>
        {{ title_suffix.contextual_links }}
        {# dummy variable to render the full content to ensure that cache tags are set #}
        {% set cache_content = content|render %}

            <div class="uccs-cta-card-content uccs-content-feed-card">
                <span class="uccs-cta-card-icon">
                    {% if content.field_sp_content_feed_icon|render %}
                        <i class="fa fa-2x {{ content.field_sp_content_feed_icon|render|striptags|trim }}"></i>
                    {% else %}
                        <i class="fa fa-2x fas fa-book-open"></i>
                    {% endif %}
                </span>

                <span class="uccs-cta-card-title">
                    {{ content.field_sp_content_feed_title }}
                </span>

                {% if content.field_sp_content_feed_sub_title|render %}
                    <span class="uccs-cta-card-subtitle">
                        {{ content.field_sp_content_feed_sub_title }}
                    </span>
                {% endif %}

                {% if content.field_sp_content_feed_body|render %}
                    <span class="uccs-cta-card-body">
                        {{ content.field_sp_content_feed_body }}
                    </span>
                {% elseif content.field_sp_content_feed_webform|render %}
                    <span class="uccs-cta-card-body">
                        {{ content.field_sp_content_feed_webform }}
                    </span>
                {% elseif content.field_sp_content_feed_cache_url|render %}
                    <span id="spContentFeed-{{ content.field_sp_content_feed_title|render|striptags|trim|clean_id }}" class="uccs-cta-card-body">
                        <script type="text/javascript">
                            document.addEventListener("DOMContentLoaded", function(event) {
                                renderFeedCache("{{ content.field_sp_content_feed_cache_url|render|striptags|trim }}", "#spContentFeed-{{ content.field_sp_content_feed_title|render|striptags|trim|clean_id }}");
                            });
                        </script>

                    </span>
                {% endif %}

                {% if content.field_sp_content_feed_link|render %}
                    <a href="{{ content.field_sp_content_feed_link[0]['#url'] }}" class="uccs-cta-card-link">
                        <button class="uccs-cta-card-button">
                            {{ content.field_sp_content_feed_link[0]['#title'] }}
                        </button>
                    </a>
                {% endif %}
            </div>
    </article>
{% endif %}
