{#
/**
 * Theme layout to display a UCCS Footer Region.
 *
 * Created by jsparks on 6/21/18
 */
#}

{% if content|render %}
    <div id="UCCSfooterContent" class="uccs-footer-content-block">
        {{ content }}
    </div>
{% endif %}