{#
/**
 * Theme layout to display a UCCS Social Media Menu Region.
 *
 * Created by jsparks on 6/19/18
 */
#}

{% if content %}
    <div class="uccs-social-media-menu-container">
        {{ content }}
    </div>
{% endif %}