{#
/**
 * Theme layout to display a UCCS Breadcrumb Region page.
 *
 * Created by jsparks on 8/22/18
 */
#}

{% if content %}
    <div class="uccs-breadcrumb-container container">
        <div class="uccs-breadcrumb-row row">
            {{ content }}
        </div>
    </div>
{% endif %}