{#
/**
 * Theme layout to display a UCCS Pre-Content Region.
 *
 * Created by jsparks on 5/15/19
 */
#}

{% if content|render %}
    <div id="UCCSPreContent" class="uccs-pre-content-region">
        {{ content }}
    </div>
{% endif %}