{#
/**
 * Theme layout to display a the UCCS search block for the header.
 *
 * Created by jsparks on 11/16/18
 */
#}

{% if not column %}
    {% set column = 'col-xl-3' %}
{% endif %}

<div id="uccs-main-menu-utility-container" class="{{ column }}">
    <div class="row">
        <div id="uccs-search-container" class="col">
            <form id="cse-search-box-form-id" action="//search.uccs.edu/index.php" _lpchecked="1">
                <div class="input-group UCCSsearchGroup">
                    <input title="search" class="form-control" placeholder="Search UCCS" type="text"
                           id="UCCSsearchBox" size="32" name="search" aria-label="Search UCCS">
                    <span class="input-group-btn">
                        <button type="button" role="button" class="btn btn-default uccs-search-btn">
                            <i class="fa-lg fal fa-search"></i>
                            <span class="sr-only">Search</span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>