{#
/**
 * Theme layout to display a UCCS UCCS Header Secondary Nav block.
 *
 * Created by jsparks on 11/29/18
 */
#}

{% if not mobile %}
    <nav id="UCCSsecondaryNav" class="navbar navbar-expand-sm" role="navigation">
        <div id="UCCSsecondaryNavContainer" class="">
            <ul class="uccs-second-menu navbar-nav mr-auto">
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/students" class="nav-link">Current Students</a>
                </li>
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/facstaff" class="nav-link">Faculty &amp; Staff</a>
                </li>
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/alumni/" class="nav-link">Alumni &amp; Friends</a>
                </li>
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/parents/" class="nav-link">Parents</a>
                </li>
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/give" class="nav-link">Give Today</a>
                </li>
                <li class="nav-item secondary-menu-item">
                    <a href="https://www.uccs.edu/applynow" class="nav-link">Apply Now</a>
                </li>
            </ul>
        </div>
    </nav>
{% else %}
    <nav id="UCCSsecondaryNavMobile" class="navbar" role="navigation">
        <ul class="uccs-second-menu navbar-nav mr-auto">
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/students" class="nav-link">Current Students</a>
            </li>
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/facstaff" class="nav-link">Faculty &amp; Staff</a>
            </li>
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/alumni/" class="nav-link">Alumni &amp; Friends</a>
            </li>
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/parents/" class="nav-link">Parents</a>
            </li>
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/give" class="nav-link">Give Today</a>
            </li>
            <li class="nav-item secondary-menu-item">
                <a href="https://www.uccs.edu/applynow" class="nav-link">Apply Now</a>
            </li>
        </ul>
    </nav>
{% endif %}


