{#
/**
 * Theme layout to display a UCCS Utility Menu.
 *
 * Created by jsparks on 6/12/18
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul{{ attributes.addClass('uccs-utility-menu navbar-nav mr-auto') }}>
            {% for item in items %}
                {%
                    set classes = [
                    'nav-item',
                    'util-menu-item',
                    item.is_expanded ? 'util-menu-dropdown',
                    item.is_collapsed ? 'util-menu-dropdown',
                    item.in_active_trail ? 'active',
                ]
                %}
                <li{{ item.attributes.addClass(classes) }}>
                    {{ link(item.title, item.url, { 'class':['nav-link']}) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
