{#
/**
 * Theme layout to display a UCCS Main Menu.
 *
 * Created by jsparks on 6/12/18
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul{{ attributes.addClass('uccs-main-menu navbar-nav') }}>
            {% for item in items %}
                {%
                    set classes = [
                    'nav-item',
                    'main-menu-item',
                    item.is_expanded ? 'dropdown hovernav main-menu-dropdown',
                    item.is_collapsed ? 'dropdown hovernav main-menu-dropdown',
                    item.in_active_trail ? 'active',
                ]
                %}
                <li{{ item.attributes.addClass(classes) }}>
                    {% if item.title|upper == "HOME" %}
                        <a href="{{ item.url }}" id="uccs-home-button" class="uccs-home-button" title="Home">
                            <span class="sr-only">Home</span>
                            <i class="fas fa-2x fa-home"></i>
                        </a>
                    {% elseif item.below %}
                        {{ link(item.title, item.url, { 'class':['nav-link', 'dropdown-toggle']}) }}
                        <ul class="dropdown-menu uccs-main-dropdown-menu">
                            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                        </ul>
                    {% else %}
                        {{ link(item.title, item.url, { 'class':['nav-link']}) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
