{#
/**
 * Theme layout to display a UCCS Menu Menu.
 *
 * Created by jsparks on 6/13/18
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{#<div class="jumbo-menu-label">#}
    {#<a href="#" class="jumbo-nav-toggle" data-target="{{ menu_name }}">#}
        {#{{ menu_label }}#}
    {#</a>#}
{#</div>#}

<div id="{{ menu_name }}" class="jumbo-navigation-container">
    <div class="container uccs-jumbo-nav-container">

        {{ menus.menu_links(items, attributes, 0) }}
        {% macro menu_links(items, attributes, menu_level) %}
            {% import _self as menus %}
            {% if items %}
                <div{{ attributes.addClass('uccs-jumbo-nav-menu') }}>
                    {% for item in items %}

                        {% if item.below %}
                            <div{{ attributes.addClass('uccs-jumbo-nav-submenu') }}>
                                {% if menu_level == 0 %}
                                    {% set title %}
                                        <span class="uccs-jumbo-hero-link">{{ item.title|render|striptags|trim }}</span>
                                        <span class="fa-stack uccs-jumbo-fa-layer">
                                          <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                                          <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                                        </span>
                                        {#<span class="fa-layers fa-fw">#}
                                        {#<i class="fas fa-lg fa-circle uccs-gold-text"></i>#}
                                        {#<i class="fas fa-lg fa-arrow-right uccs-black-text"></i>#}
                                        {#</span>#}
                                    {% endset %}
                                    {{ link(title, item.url, { 'class':['jumbo-link', 'bold']}) }}
                                {% else %}
                                    {{ link(item.title, item.url, { 'class':['jumbo-link']}) }}
                                {% endif %}
                                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
                            </div>
                        {% else %}
                            {{ link(item.title, item.url, { 'class':['jumbo-link']}) }}
                        {% endif %}

                    {% endfor %}
                </div>
            {% endif %}
        {% endmacro %}
    </div>


</div>