{#
/**
 * Theme layout to display a UCCS Main Menu Links Menu.
 *
 * Created by jsparks on 6/19/18
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul{{ attributes.addClass('uccs-main-menu-link navbar-nav mr-auto') }}>
            {% for item in items %}
                {%
                    set classes = [
                    'nav-item',
                    'main-jumbo-menu-item',
                    item.in_active_trail ? 'active',
                ]
                %}

                {% if item.title == "Home" %}
                    <li class="nav-item nav-home-icon">
                        <a href="{{ item.url }}" id="uccs-home-button" class="uccs-home-button" title="Home">
                            <span class="sr-only">Home</span>
                            <i class="fas fa-lg fa-home"></i>
                        </a>
                    </li>

                {% else %}
                    <li{{ item.attributes.addClass(classes) }}>
                        <a href="{{ item.url|render|striptags|trim }}" class="nav-link jumbo-link-toggle">
                            <span class="jumbo-link-toggle-title">
                                {{ item.title|render|striptags|trim }}
                            </span>
                            <span class="jumbo-link-toggle-icon">
                                <i class="fa fas fa-2x fa-plus"></i>
                            </span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
