{#
/**
 * Theme layout to display a UCCS Social Media Menu.
 *
 * Created by jsparks on 6/19/18
 */
#}

{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
    {% import _self as menus %}
    {% if items %}
        <ul class="menu social-media navbar-nav navbar-social">
            {% for item in items %}
                {%
                    set classes = [
                    'social-media-item',
                    'menu-item',
                    item.is_expanded ? 'menu-item--expanded',
                    item.is_collapsed ? 'menu-item--collapsed',
                    item.in_active_trail ? 'menu-item--active-trail',
                ]
                %}
                <li{{ item.attributes.addClass(classes) }}>

                    {% if 'FACEBOOK' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-facebook-link" title="FaceBook">
                            <span class="sr-only">UCCS FaceBook</span>
                            <i class="fab fa-2x fa-facebook-f"></i>
                        </a>

                    {% elseif 'TWITTER' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-twitter-link" title="Twitter">
                            <span class="sr-only">UCCS Twitter</span>
                            <i class="fab fa-2x fa-twitter"></i>
                        </a>

                    {% elseif 'FLICKR' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-flickr-link" title="Flickr">
                            <span class="sr-only">UCCS Flickr</span>
                            <i class="fab fa-2x fa-flickr"></i>
                        </a>

                    {% elseif 'LINKEDIN' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-linkedin-link" title="LinkedIn">
                            <span class="sr-only">UCCS LinkedIn</span>
                            <i class="fab fa-2x fa-linkedin"></i>
                        </a>

                    {% elseif 'YOUTUBE' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-youtube-link" title="YouTube">
                            <span class="sr-only">UCCS YouTube</span>
                            <i class="fab fa-2x fa-youtube"></i>
                        </a>
                    {% elseif 'INSTAGRAM' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-instagram-link" title="Instagram">
                            <span class="sr-only">Instagram</span>
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                    {% elseif 'EVENTS' in item.title|upper or 'CALENDAR' in item.title|upper %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-calendar-link" title="Events">
                            <span class="sr-only">Events</span>
                            <i class="far fa-2x fa-calendar-alt"></i>
                        </a>


                    {%  else %}
                        <a href="{{ item.url }}" class="uccs-social-link uccs-social-link" title="Social Media">
                            <span class="sr-only">UCCS Social Media</span>
                            <i class="fas fa-2x fa-user-friends"></i>
                        </a>


                    {% endif %}

                    {#{{ link(item.title, item.url) }}#}

                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
