{#
/**
 * Theme layout to display a UCCS CTA Block Definition page.
 *
 * Created by jsparks on 6/14/18
 */
#}


<div id="{{ attributes.id }}" class="uccs-jumbo-nav-cta-block">
    {{ content }}
</div>

