{#
/**
 * Theme layout to display a UCCS Footer CTA Block.
 *
 * Created by jsparks on 6/20/18
 */
#}

{% set modalClasses = 'foobar' %}
{% set ctaURL = content.field_footer_cta_link[0]['#url']  %}
{% if '/form/' in ctaURL|render|striptags|trim %}
    {% set modalClasses = 'webform-dialog webform-dialog-narrow' %}
{% endif %}

<div class="uccs-footer-cta-block">
    <a href="{{ ctaURL }}" class="uccs-footer-cta-button-link {{ modalClasses }}">
        <div class="uccs-footer-cta-button">

        <span class="uccs-footer-cta-label">
            {{ content.field_footer_cta_link[0]['#title'] }}
        </span>
            <span class="uccs-footer-cta-icon">
            {% set icon_color = '#CFB87B' %}
                {% if content.field_footer_cta_icon_color|render %}
                    {% set icon_color = content.field_footer_cta_icon_color|render|striptags|trim %}
                {% endif %}

                {% if content.field_footer_cta_icon|render %}
                    <i style="color: {{ icon_color }}" class="fa-2x {{ content.field_footer_cta_icon|render|striptags|trim }}"></i>
                {% else %}
                  <span class="fa-stack">
                    <i class="fas fa-stack-2x fa-circle uccs-gold-text"></i>
                    <i class="fas fa-stack-1x fa-arrow-right uccs-black-text"></i>
                  </span>
                {% endif %}
        </span>
        </div>
    </a>
</div>

