{#
/**
 * Theme layout to display a UCCS Person Email Field.
 *
 * Created by jsparks on 8/20/18
 */
#}

<ul class="uccs-person-email-address">
    {% for item in items %}
        <li>
            <i class="fa fal fa-envelope"></i><a href="mailto:{{ item.content|render|striptags|trim }}">{{ item.attributes }}{{ item.content }}</a>
        </li>
    {% endfor %}
</ul>
