{#
/**
 * Theme layout to display a UCCS Single Page Mini Bio Cards Paragraph Field.
 *
 * Created by jsparks on 7/19/18
 */
#}

{% for item in items %}
    {{ item.attributes }}{{ item.content }}
{% endfor %}