{#
/**
 * Theme layout to display a UCCS SP Header Icons Media Field.
 *
 * Created by jsparks on 7/24/18
 */
#}

{% for item in items %}
    <div class="uccs-sp-header-icon">
        <i class="fa fa-4x {{ item.content }}"></i>
    </div>
{% endfor %}
