{#
/**
 * Theme layout to display a UCCS Single Page Knockout Image/Text Media Field.
 *
 * Created by jsparks on 7/3/18
 */
#}

{% for item in items %}

    {% set KOimg = item.content['#item'].entity.uri.value %}

    <div id="UCCSspKOContainer_" class="uccs-sp-ko-img-container" style="background-image: url('{{ file_url(KOimg) }}')">
        <canvas id="ko-text-mask"></canvas>
    </div>

{% endfor %}