{#
/**
 * Theme layout to display a UCCS News Story Byline Social Media Links Field.
 *
 * Created by jsparks on 10/11/18
 */
#}

{% for item in items %}
    <a href="{{ item.content|render|striptags|trim}}">

        {% if 'FACEBOOK' in item.content|render|striptags|upper %}
                <span class="sr-only">FaceBook</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-facebook-f"></i>
                </span>

        {% elseif 'TWITTER' in item.content|render|striptags|upper %}
                <span class="sr-only">Twitter</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-twitter"></i>
                </span>

        {% elseif 'FLICKR' in item.content|render|striptags|upper %}
                <span class="sr-only">Flickr</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-flickr"></i>
                </span>

        {% elseif 'LINKEDIN' in item.content|render|striptags|upper %}
                <span class="sr-only">LinkedIn</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-linkedin"></i>
                </span>

        {% elseif 'YOUTUBE' in item.content|render|striptags|upper %}
                <span class="sr-only">YouTube</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-youtube"></i>
                </span>

        {% elseif 'INSTAGRAM' in item.content|render|striptags|upper %}
                <span class="sr-only">Instagram</span>
                <span class="uccs-news-story-byline-link">
                <i class="fab fa-lg fa-instagram"></i>
                </span>

        {% elseif 'EVENTS' in item.content|render|striptags|upper or 'CALENDAR' in item.content|render|striptags|upper %}
                <span class="sr-only">Events</span>
                <span class="uccs-news-story-byline-link">
                <i class="far fa-lg fa-calendar-alt"></i>
                </span>

        {%  else %}
                <span class="sr-only">Social Media</span>
                <span class="uccs-news-story-byline-link">
                <i class="fas fa-lg fa-user-friends"></i>
                </span>

        {% endif %}
    </a>
{% endfor %}