{#
/**
 * Theme layout to display a UCCS SP Jumbo Button Image Field in a Paragraph page.
 *
 * Created by jsparks on 8/7/18
 */
#}

{% for item in items %}

{% set bioImg = item.content['#item'].entity.uri.value %}

<div class="uccs-sp-jumbo-button-img" style="background-image: url('{{ file_url(bioImg) }}')">
</div>

{% endfor %}