{#
/**
 * Theme layout to display a UCCS SP Header CTA Buttons Field.
 *
 * Created by jsparks on 7/24/18
 */
#}

{% for item in items %}
    <div class="uccs-sp-header-cta-button uccs-sp-header-cta-additional-buttons">
        {{ item.content }}
    </div>
{% endfor %}