{#
/**
 * Theme layout to display a UCCS SP List Items Field in a Single Page List Paragraph page.
 *
 * Created by jsparks on 8/6/18
 */
#}
<ul class="uccs-sp-list-ul">
    {% for item in items %}
        {{ item.attributes }}{{ item.content }}
    {% endfor %}
</ul>
