{#
/**
 * Theme layout to display a UCCS Single-Page Icon Card Field in a Paragraph.
 *
 * Created by jsparks on 2019-04-02
 */
#}

{% for item in items %}

    <div class="uccs-icon-cta-card-container col-xl col-lg-4 col-md-6 col-sm-12">
        {{ item.content }}
    </div>

{% endfor %}