{#
/**
 * Theme layout to display a UCCS Single Page Success Story Media Image.
 *
 * Created by jsparks on 7/19/18
 */
#}


{% for item in items %}

    {% set bioImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-mini-bio-img uccs-duo-tone-gold" style="background-image: url('{{ file_url(bioImg) }}')">
    </div>

{% endfor %}