{#
/**
 * Theme layout to display a UCCS Single Page Duo Tone Media Field.
 *
 * Created by jsparks on 7/3/18
 */
#}

{% for item in items %}

    {% set duoToneImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-duo-tone-img" style="background-image: url('{{ file_url(duoToneImg) }}')">
    </div>


{% endfor %}