{#
/**
 * Theme layout to display a UCCS CTA Icon Field.
 *
 * Created by jsparks on 6/14/18
 */
#}

<div class="uccs-main-menu-cta-icon">
    {% for item in items %}
        <i class="fa fa-4x {{ item.content }}"></i>
    {% endfor %}
</div>
