{#
/**
 * Theme layout to display a UCCS Image Author for a Media News Image.
 *
 * Created by jsparks on 10/10/18
 */
#}
{% for item in items %}
    <span class="uccs-news-story-img-author">
        {{ item.content }}
    </span>
{% endfor %}