{#
/**
 * Theme layout to display a UCCS SP Bullet List Items Field.
 *
 * Created by jsparks on 8/10/18
 */
#}

<ol class="uccs-sp-bullet-list-ol">
    {% for item in items %}
        {{ item.attributes }}{{ item.content }}
    {% endfor %}
</ol>
