{#
/**
 * Theme layout to display a UCCS CTA Cards Section Icon Field page.
 *
 * Created by jsparks on 7/9/18
 */
#}

{% for item in items %}
    {{ item.attributes }}

    <div class="uccs-cta-cards-section-icon">
        <i class="fa fa-4x {{ item.content|render|striptags|trim }}"></i>
    </div>

{% endfor %}