{#
/**
 * Theme layout to display a UCCS CTA Link Field.
 *
 * Created by jsparks on 6/14/18
 */
#}

{% for item in items %}
    <div class="uccs-main-menu-cta-link">
        {{ item.content }}
    </div>
{% endfor %}