{#
/**
 * Theme layout to display a UCCS SP Icon CTA Image Field.
 *
 * Created by jsparks on 3/19/19
 */
#}

{% for item in items %}

    {% for item in items %}

        {% set heroImg = item.content['#item'].entity.uri.value %}

        <div class="uccs-icon-cta-bg-img" style="background-image: url('{{ file_url(heroImg) }}')">
        </div>

    {% endfor %}

{% endfor %}