{#
/**
 * Theme layout to display a UCCS UCCS Person Page 2018 Title.
 *
 * Created by jsparks on 9/10/18
 */
#}

{% for item in items %}
    {{ item.attributes }}
    <div class="uccs-staf-page-title-container">
        <span class="uccs-person-page-title">
            {{ item.content }}
        </span>
    </div>
{% endfor %}