{#
/**
 * Theme layout to display a UCCS Single Page Knockout Name Field.
 *
 * Created by jsparks on 7/5/18
 */
#}

{% for item in items %}

    <span id="uccs-ko-text-title" class="hidden" data-title="{{ item.content|render|striptags|trim }}">
        {{ item.attributes }}{{ item.content }}
    </span>

{% endfor %}