{#
/**
 * Theme layout to display a UCCS SP Content Cards Paragraph.
 *
 * Created by jsparks on 7/9/18
 */
#}

{% set cardCount = items|length %}

{% for item in items %}
    <div class="uccs-cta-card uccs-cta-card-{{ cardCount }} match-height">
        {{ item.attributes }}{{ item.content }}
    </div>
{% endfor %}