{#
/**
 * Theme layout to display a UCCS Person Social Media Field.
 *
 * Created by jsparks on 8/20/18
 */
#}

{% if items %}
    <ul class="uccs-person-social-media">
        {% for item in items %}
            {%
                set classes = [
                'social-media-item',
                'person-menu-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
            ]
            %}
            <li{{ item.attributes.addClass(classes) }}>

                {% set linkTitle = item.content['#title'] %}
                {% set linkUrl = item.content['#url'] %}

                {% if 'FACEBOOK' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-facebook-link" title="FaceBook" alt="FaceBook">
                        <span class="sr-only">FaceBook</span>
                        <i class="fa fa-2x fab fa-facebook"></i>
                    </a>

                {% elseif 'TWITTER' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-twitter-link" title="Twitter" alt="Twitter">
                        <span class="sr-only">Twitter</span>
                        <i class="fa fa-2x fab fa-twitter"></i>
                    </a>

                {% elseif 'FLICKR' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-flickr-link" title="Flickr" alt="Flickr">
                        <span class="sr-only">Flickr</span>
                        <i class="fa fa-2x fab fa-flickr"></i>
                    </a>

                {% elseif 'LINKEDIN' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-linkedin-link" title="LinkedIn" alt="LinkedIn">
                        <span class="sr-only">LinkedIn</span>
                        <i class="fa fa-2x fab fa-linkedin"></i>
                    </a>

                {% elseif 'YOUTUBE' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-youtube-link" title="YouTube" alt="YouTube">
                        <span class="sr-only">YouTube</span>
                        <i class="fa fa-2x fab fa-youtube"></i>
                    </a>

                {% elseif 'INSTAGRAM' in linkTitle|upper %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-instagram-link" title="Instagram" alt="Instagram">
                        <span class="sr-only">Instagram</span>
                        <i class="fa fa-2x fab fa-instagram"></i>
                    </a>

                {%  else %}
                    <a href="{{ linkUrl }}" class="uccs-person-social-link uccs-person-other-link" title="Social Media" alt="Social Media">
                        <span class="sr-only">Social Media Link</span>
                        <i class="fa fa-2x fab fa-user"></i>
                    </a>


                {% endif %}

                {#{{ link(item.title, item.url) }}#}

            </li>
        {% endfor %}
    </ul>
{% endif %}
