{#
/**
 * Theme layout to display a UCCS UCCS Staff Page 2018 Title.
 *
 * Created by jsparks on 9/10/18
 */
#}

{% for item in items %}
    {{ item.attributes }}
    <div class="uccs-staff-page-title-container container">
        <h1 class="uccs-staff-page-title">
            {{ item.content }}
        </h1>
    </div>
{% endfor %}