{#
/**
 * Theme layout to display a UCCS News Story Addtional Information Link Field.
 *
 * Created by jsparks on 10/12/18
 */
#}

{% for item in items %}
    <span class="uccs-news-story-additional-info-link">
    [ {{ item.content }} ]
    </span>
{% endfor %}