{#
/**
 * Theme layout to display a UCCS Single Page Page - Header Paragraph.
 *
 * Created by jsparks on 9/21/18
 */
#}

{% for item in items %}
    {{ item.attributes }}{{ item.content }}
{% endfor %}