{#
/**
 * Theme layout to display a UCCS Single Page Icon Card CTA Background Image Field.
 *
 * Created by jsparks on 4/2/19
 */
#}

{% for item in items %}

    {% set heroImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-icon-card-bg-img " style="background-image: url('{{ file_url(heroImg) }}')">
    </div>


{% endfor %}