{#
/**
 * Theme layout to display a UCCS Person Phone Field.
 *
 * Created by jsparks on 8/20/18
 */
#}

<ul class="uccs-person-phone-numbers">
    {% for item in items %}
        <li>
            <i class="fa fal fa-phone"></i>{{ item.attributes }} {{ item.content }}
        </li>
    {% endfor %}
</ul>
