{#
/**
 * Theme layout to display a UCCS Field Byline Email -- Media News Byline field.
 *
 * Created by jsparks on 10/10/18
 */
#}

{% for item in items %}
    <a href="mailto:{{ item.content|render|striptags|trim}}">
        <span class="uccs-news-story-byline-link">
            <i class="fal fa-lg fa-envelope"></i>
        </span>
    </a>
{% endfor %}