{#
/**
 * Theme layout to display a UCCS News Story Image Media -- Image.
 *
 * Created by jsparks on 10/10/18
 */
#}

{% for item in items %}
    <div class="uccs-news-story-image-img">
        {{ item.content }}
    </div>
{% endfor %}

