{#
/**
 * Theme layout to display a UCCS Image Caption for a Media News Image.
 *
 * Created by jsparks on 10/10/18
 */
#}

{% for item in items %}
    <span class="uccs-news-story-img-caption">
        {{ item.content }}
    </span>
{% endfor %}