{#
/**
 * Theme layout to display a UCCS News Story 2018 Title.
 *
 * Created by jsparks on 10/12/18
 */
#}

{% for item in items %}
    {{ item.attributes }}
    <div class="uccs-news-story-title-container container">
        <div class="uccs-news-story-title-row row">
            <div class="uccs-news-story-spacer col-md-2"></div>

            <div class="uccs-news-story-title col-md-8">
                <h1 class="uccs-news-story-title-h1">
                    {{ item.content }}
                </h1>
            </div>

            <div class="uccs-news-story-spacer col-md-2"></div>
        </div>
    </div>
{% endfor %}