{#
/**
 * Theme layout to display a UCCS SP List Image Field.
 *
 * Created by jsparks on 8/6/18
 */
#}

{% for item in items %}

{% set listImg = item.content['#item'].entity.uri.value %}

<div class="uccs-sp-sp-list-img" style="background-image: url('{{ file_url(listImg) }}')">
</div>

{% endfor %}