{#
/**
 * Theme layout to display a UCCS Single Page 2018 Title.
 *
 * Created by jsparks on 7/17/18
 */
#}

{% for item in items %}
    <span class="uccs-single-page-title-container">
        {{ item.attributes }}{{ item.content }}
    </span>
{% endfor %}