{#
/**
 * Theme layout to display a UCCS Single Page Slider Background Image Field.
 *
 * Created by jsparks on 7/12/18
 */
#}

{% for item in items %}

    {% set sliderImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-slider-background-img uccs-duo-tone-wash-out" style="background-image: url('{{ file_url(sliderImg) }}')">
    </div>


{% endfor %}