{#
/**
 * Theme layout to display a UCCS Person Biographical Information Field.
 *
 * Created by jsparks on 8/20/18
 */
#}

{% set cardCount = '' %}
{% if items|length == 1 %}
    {% set cardCount = '12' %}
{% elseif items|length == 2 %}
    {% set cardCount = '6' %}
{% else %}
    {% set cardCount = '4' %}
{% endif %}

{% for item in items %}
    <div class="uccs-bio-card-col col-md-{{ cardCount }}">
        {{ item.attributes }} {{ item.content }}
    </div>
{% endfor %}