{#
/**
 * Theme layout to display a UCCS Single Page - Page Header Image Media Field.
 *
 * Created by jsparks on 7/27/18
 */
#}


{% for item in items %}
    {% set headerImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-header-img" style="background-image: url('{{ file_url(headerImg) }}')">
    </div>
{% endfor %}