{#
/**
 * Theme layout to display a UCCS Main CTA Button on a SP Header Row.
 *
 * Created by jsparks on 7/24/18
 */
#}

{% for item in items %}
    <div class="uccs-sp-header-cta-button uccs-sp-header-main-cta-button">
        {{ item.content }}
    </div>
{% endfor %}