{#
/**
 * Theme layout to display a UCCS Single Page Hero Image Media Field.
 *
 * Created by jsparks on 7/3/18
 */
#}

{% for item in items %}

    {% set heroImg = item.content['#item'].entity.uri.value %}

    <div class="uccs-sp-hero-img" style="background-image: url('{{ file_url(heroImg) }}')">
    </div>


{% endfor %}