{#
/**
 * Theme layout to display a UCCS HTML page.
 *
 * Created by jsparks on 6/11/18
 */
#}
{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
    <head-placeholder token="{{ placeholder_token|raw }}"></head-placeholder>
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}"></css-placeholder>
    <js-placeholder token="{{ placeholder_token|raw }}"></js-placeholder>
    <link rel="preload" href="{{ theme_path }}/fonts/HelveticaNeueLTW05-55Roman.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ theme_path }}/fonts/HelveticaNeueLTW05-75Bold.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ theme_path }}/fonts/HelveticaNeueLTW05-77BoldCn.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ theme_path }}/fonts/Liberator-Heavy.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ theme_path }}/fonts/Liberator-Light.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="{{ theme_path }}/fonts/Liberator-Medium.woff2" as="font" type="font/woff2" crossorigin>

    {% if uccs_gtm_account|trim is not empty %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ uccs_gtm_account }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}

    </head>

<body{{ attributes }}>
{#
  Keyboard navigation/accessibility link to main content section in
  page.html.twig.
#}
<a href="#main-content" class="visually-hidden focusable">
    {{ 'Skip to main content'|t }}
</a>
{% if uccs_gtm_account|trim is not empty %}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ uccs_gtm_account }}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% endif %}


{{ page_top }}
{{ page }}
{{ page_bottom }}
<js-bottom-placeholder token="{{ placeholder_token|raw }}"></js-bottom-placeholder>
</body>
</html>
