{#
/**
 * Theme layout to display a UCCS User Login Page.
 *
 * Created by jsparks on 8/13/18
 */
#}

{#
/**
 * @file
 * Theme override to display a user page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.highlighted: Items for the highlighted region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% if header_color == 'white' %}
    {{ attach_library('uccsbase/uccs-white-header') }}
{% elseif header_color == 'black' %}
    {{ attach_library('uccsbase/uccs-black-header') }}
{% endif %}

{{ attach_library('uccsbase_k18/uccs-user-login') }}

<div class="layout-container">
    {% if user.hasPermission('access administration pages') %}
        <div class="alert alert-warning text-center uccs-admin-alert">
            You are logged in with Elevated Privileges ... please be careful.
        </div>
    {% endif %}

    <header id="uccs-header-block">
        <div class="container uccs-header-upper-container">
            <div id="uccs-header-row-top" class="row">
                <div id="uccs-header-logo" class="col-md-5">
                    {% set uccslogo = "/logo-reverse.svg" %}

                    <a href="https://www.uccs.edu" title="{{ 'UCCS Home'|t }}" rel="home">
                        <img src="{{ theme_path }}{{ uccslogo }}" alt="University of Colorado Colorado Springs"
                             class="uccs-logo img-responsive"/>
                    </a>

                    <a href="#" id="UCCSmobileMenuToggle">
                        <i class="fas fa-2x fa-bars"></i>
                    </a>
                </div>

                {% if page.secondary_menu|render %}
                    <div id="uccs-header-secondary-menu" class="col-md-7">
                        <nav id="UCCSsecondaryNav" class="navbar navbar-expand-sm" role="navigation">
                            <div id="UCCSsecondaryNavContainer" class="">
                                {{ page.secondary_menu }}
                            </div>
                        </nav>
                    </div>
                {% elseif uccs_header_menu %}
                    <div id="uccs-header-secondary-menu" class="col-md-7">
                        {% include "@uccsbase_k18/includes/uccs-header-secondary-nav.html.twig" %}
                    </div>
                {% else %}
                    <div class="col-md"></div>
                {% endif %}
            </div>
        </div>

        {% if uccs_sitetitle %}
            <div class="uccs-site-title">
                <div class="uccs-site-tile-container container">
                    <div class="uccs-site-title-row row no-gutters">
                        <div class="col-lg-8">
                            <h2 class="uccs-site-title-header">{{ site_name }}</h2>
                            {% if site_slogan|render%}
                                <p class="uccs-site-slogan">{{ site_slogan }}</p>
                            {% endif %}
                        </div>
                        {% include "@uccsbase_k18/includes/uccs-block-search.html.twig" with {'column' : 'col-lg-4' } %}
                    </div>
                </div>
            </div>

        {% endif %}

        <div class="container uccs-header-lower-container">

            {% set mainMenuContainerColor = 'white' %}
            {% if page.jumbo_nav_menu|render %}
                {% set mainMenuContainerColor = 'grey' %}
            {% endif %}

            {% if page.utility_menu|render %}
                <div id="uccs-header-row-bottom" class="row">
                    <div id="uccs-main-menu-container" class="col-xl-7 {{ mainMenuContainerColor }}">
                        {% if page.jumbo_nav_menu|render %}
                            <nav id="UCCSJumboNavLinks" class="navbar navbar-expand-sm" role="navigation">
                                {{ page.jumbo_nav_menu }}
                            </nav>
                        {% elseif page.primary_menu|render %}
                            <div id="uccs-header-main-menu">
                                <nav id="UCCSmainNav" class="navbar navbar-expand-sm" role="navigation">
                                    <div id="UCCSmainNavContainer" class="">
                                        {{ page.primary_menu }}
                                    </div>
                                </nav>
                            </div>
                        {% endif %}

                        {% if page.secondary_menu|render %}
                            <div id="uccs-header-secondary-menu-mobile" class="col">
                                <nav id="UCCSsecondaryNavMobile" class="navbar" role="navigation">
                                    {{ page.secondary_menu }}
                                </nav>
                            </div>
                        {% elseif uccs_header_menu %}
                            <div id="uccs-header-secondary-menu-mobile" class="col">
                                {% include "@uccsbase_k18/includes/uccs-header-secondary-nav.html.twig" with {'mobile' : 'true' } %}
                            </div>
                        {% endif %}

                    </div>
                    <div id="uccs-main-menu-utility-container" class="col-xl-5">

                        {% set utilityRowClass = 'uccsSearchUtilityMenu' %}
                        {% if uccs_sitetitle %}
                            {% set utilityRowClass = 'uccsUtilityMenuOnly' %}
                        {% endif %}

                        <div class="row {{ utilityRowClass }}">
                            {% if not uccs_sitetitle %}
                                {% include "@uccsbase_k18/includes/uccs-block-search.html.twig" with {'column' : 'col-8' }  %}
                            {% endif %}
                            <div id="uccs-utility-menu-container" class="col-4">
                                {% if page.utility_menu|render %}
                                    <span class="util-menu-toggle-button">{{ util_menu_title }} <i class="fa fas fa-caret-down uccs-gold-text"></i></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row uccs-util-menu-row">
                            {% if page.utility_menu|render %}
                                <div id="uccs-header-utility-menu" class="col">
                                    <nav id="UCCSutilNav" class="navbar uccs-util-navbar" role="navigation">
                                        {{ page.utility_menu }}
                                    </nav>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div id="uccs-header-row-bottom" class="row">
                    {% set menuClass = 'col-xl-9' %}
                    {% if uccs_sitetitle %}
                        {% set menuClass = 'col' %}
                    {% endif %}
                    <div id="uccs-main-menu-container" class="{{ menuClass }} {{ mainMenuContainerColor }}">
                        {% if page.jumbo_nav_menu|render %}
                            <nav id="UCCSJumboNavLinks" class="navbar navbar-expand-sm" role="navigation">
                                {{ page.jumbo_nav_menu }}
                            </nav>
                        {% elseif page.primary_menu|render %}
                            <div id="uccs-header-main-menu">
                                <nav id="UCCSmainNav" class="navbar navbar-expand-sm" role="navigation">
                                    <div id="UCCSmainNavContainer" class="">
                                        {{ page.primary_menu }}
                                    </div>
                                </nav>
                            </div>
                        {% endif %}

                        {% if page.secondary_menu|render %}
                            <div id="uccs-header-secondary-menu-mobile" class="col">
                                <nav id="UCCSsecondaryNavMobile" class="navbar" role="navigation">
                                    {{ page.secondary_menu }}
                                </nav>
                            </div>
                        {% endif %}

                    </div>
                    {% if not uccs_sitetitle %}
                        {% include "@uccsbase_k18/includes/uccs-block-search.html.twig" %}
                    {% endif %}
                </div>
            {% endif %}

        </div>

    </header>

    {% if page.jumbo_nav_one|render %}
        <div id="UCCSjumboNavContainer">

            {% if page.jumbo_nav_one|render %}
                <div id="jumbo-nav-0" class="jumbo-nav-title">
                    {{ page.jumbo_nav_one }}
                </div>
            {% endif %}

            {% if page.jumbo_nav_two|render %}
                <div id="jumbo-nav-1" class="jumbo-nav-title">
                    {{ page.jumbo_nav_two }}
                </div>
            {% endif %}

            {% if page.jumbo_nav_three|render %}
                <div id="jumbo-nav-2" class="jumbo-nav-title">
                    {{ page.jumbo_nav_three }}
                </div>
            {% endif %}

            {% if page.jumbo_nav_four|render %}
                <div id="jumbo-nav-3" class="jumbo-nav-title">
                    {{ page.jumbo_nav_four }}
                </div>
            {% endif %}

            {% if page.jumbo_nav_five|render %}
                <div id="jumbo-nav-4" class="jumbo-nav-title">
                    {{ page.jumbo_nav_five }}
                </div>
            {% endif %}

            {% if page.jumbo_nav_six|render %}
                <div id="jumbo-nav-5" class="jumbo-nav-title">
                    {{ page.jumbo_nav_six }}
                </div>
            {% endif %}

        </div>
    {% endif %}

    {{ page.breadcrumb }}

    {{ page.highlighted }}

    {{ page.help }}


    <div id="UCCSAlert">
        {% if page.alerts %}
            <div class="uccs-alert">
                {{ page.alerts }}
            </div>
        {% endif %}
    </div>


    <main role="main">
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
        {% if page.pre_content %}
            <div class="uccs-per-content-container container">
                {{ page.pre_content }}
            </div>
        {% endif %}

        <div class="layout-content uccs-user-page-layout container">
            <div class="uccsLoginBox">
                <div class="uccsloginBox-header"><h2>Log in with your UCCS credentials</h2></div>
                {{ page.content }}
                <div class="uccsLoginBox-help">
                    See : <a href="https://accounts.uccs.edu/">https://accounts.uccs.edu</a> for help with your account.
                </div>
                <div class="uccsLoginBox-footer"></div>
            </div>
        </div>{# /.layout-content #}

    </main>

    {% if page.post_content %}
        <div class="uccs-post-content-container">
            {{ page.post_content }}
        </div>
    {% endif %}
    {#<a class="scrollTop" href="#">#}
    {#<div class="scrollTop"><i class="fa fa-angle-up" style="font-size:25px;"></i> Top</div>#}
    {#</a>#}
</div>{# /.layout-container #}
<footer id="UCCSfooterContainer" role="contentinfo">


    <div class="container uccs-footer-social-container">
        <div class="row uccs-footer-content-row">
            <div class="uccs-footer-main-content col-md-8">

                <div class="uccs-footer-content-container row">

                    {% if page.footer_menu_one|render and page.footer_menu_two|render %}
                        <div class="uccs-footer-contact-info col-lg-4 col-md-12 col-sm-12">
                            {% if page.footer|render %}
                                {{ page.footer }}
                            {% endif %}
                        </div>

                        <div class="uccs-footer-nav-one col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            {% if page.footer_menu_one|render %}
                                {{ page.footer_menu_one }}
                            {% endif %}
                        </div>

                        <div class="uccs-footer-nav-two col-lg-4 col-md-6 col-sm-6 col-xs-6">
                            {% if page.footer_menu_two|render %}
                                {{ page.footer_menu_two }}
                            {% endif %}
                        </div>
                    {% elseif page.footer_menu_one|render %}
                        <div class="uccs-footer-contact-info col">
                            {% if page.footer|render %}
                                {{ page.footer }}
                            {% endif %}
                        </div>

                        <div class="uccs-footer-nav-one col">
                            {% if page.footer_menu_one|render %}
                                {{ page.footer_menu_one }}
                            {% endif %}
                        </div>


                    {% elseif page.footer_menu_two|render %}
                        <div class="uccs-footer-contact-info col">
                            {% if page.footer|render %}
                                {{ page.footer }}
                            {% endif %}
                        </div>

                        <div class="uccs-footer-nav-two col">
                            {% if page.footer_menu_two|render %}
                                {{ page.footer_menu_two }}
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="uccs-footer-contact-info col">
                            {% if page.footer|render %}
                                {{ page.footer }}
                            {% endif %}
                        </div>
                    {% endif %}


                </div>


                <div class="uccs-social-media-nav-container row">
                    <div class="uccs-social-media-nav col">
                        {% if page.social_media_menu|render %}
                            {{ page.social_media_menu }}
                        {% endif %}
                    </div>
                </div>


            </div>

            <div class="uccs-footer-additional-cta col-md-4">
                {% if page.footer_additional_cta|render %}
                    {{ page.footer_additional_cta }}
                {% endif %}
            </div>

        </div>
    </div>


    <hr class="uccs-footer-hr">
    <div class="container uccs-footer-global-menu-container">
        <nav id="UCCSfooterGlobalMenu" class="uccs-footer-menu-global navbar">

            <div class="col uccs-footer-global-nav-section">
                <ul id="UCCSfooterGlobNavOne" class="navbar-nav uccs-footer-global-nav">
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/copyright">Copyright</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/terms-of-use">Terms of Use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/disability">Accessibility</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/mission">Mission</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/asr">Security & Fire Safety Report</a>
                    </li>
                </ul>
            </div>
            <div id="UCCSfooterGlobNavTwo" class="col uccs-footer-global-nav-section">
                <ul class="navbar-nav uccs-footer-global-nav">
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/careers">Careers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/emergency">Emergency Contact Info</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/giving">Give to UCCS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link uccs-footer-global-nav-link" href="https://www.uccs.edu/about/#spRow5">Student Consumer Info</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container uccs-footer-logo-container">
        <div class="row">
            <div class="col-md-6 col-sm-12 uccs-footer-logo-main">
                <a href="https://www.uccs.edu">
                    <img src="{{ theme_path }}/images/uccslogo-white.png" class="img-responsive">
                </a>
            </div>
            <div class="col-md-6 col-sm-12 uccs-footer-logo-system">
                <img src="{{ theme_path }}/images/cu_system-white.png" class="img-responsive">
            </div>
        </div>
        <div class="row">
            <div class="col text-center uccs-copyright-msg">
                &copy; Regents of the University of Colorado
            </div>
        </div>
    </div>


</footer>

